@charset "UTF-8";
/*
Theme Name: Wonderlust
Theme URI: http://fullmetalworkshop.com
Author: Full Metal Workshop LLC
Author URI: http://fullmetalworkshop.com
Description: WordPress Theme for Wonderlusttravel.com
Version: 1.0.1
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags:
Text Domain: wonderlust

Wonderlust WordPress Theme © 2017 Full Metal Workshop
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-size: 100%;
  font: inherit;
  padding: 0;
  border: 0;
  margin: 0;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

.clear {
  clear: both;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}

.mobile, .tablet_size {
  display: none;
}

h1 {
  font-size: 2em;
  font-weight: 600;
}

h2 {
  font-size: 27px;
  line-height: 1em;
}

h3 {
  font-size: 20px;
  line-height: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
}

h4 {
  font-size: 1.1em;
  line-height: 1.1em;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  font-size: 1em;
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  background-color: #dedede;
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
  outline: none;
}

ol {
  list-style-type: decimal;
  padding-left: 18px;
}

p, li {
  font-weight: 400;
  line-height: 1.35em;
}

strong, b {
  font-weight: 600;
}

em, i {
  font-style: italic;
}

input:focus {
  outline: none;
}

.bg_centered {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home p {
  font-size: 1em;
}

.cat_label {
  font-size: 12px !important;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.inner_content {
  width: 100%;
  padding: 0 5.5%;
  margin: 0 auto;
}

#wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

#wrapper #DSK_Leaderboard {
  padding: 15px 0 0;
}

#container {
  background-color: white;
  position: relative;
  z-index: 2;
}

.social_share_container {
  display: flex;
  margin-top: 15px;
}

.social_share_container .social_share_button {
  display: block;
  width: 26px;
  margin-right: 6px;
}

.social_share_container .social_share_button img {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
	Header
\*------------------------------------*/
header#header {
  background-color: white;
  width: 100%;
  position: relative;
}

.header_content {
  background-color: white;
  width: 100%;
  position: relative;
  z-index: 3;
  height: 7.3vw;
  max-height: 107px;
  min-height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.1vw;
  margin: 0 auto;
  max-width: 1300px;
}

.header_content #branding #site-title {
  padding-right: 20px;
  display: inline-block;
  position: relative;
}

.header_content #branding #site-title a {
  width: 21vw;
  max-width: 286px;
  min-width: 210px;
  height: auto;
  display: inline-block;
  position: relative;
}

.header_content #branding #site-title a img {
  width: 100%;
  height: auto;
}

.header_content #branding #site-title:after {
  content: '';
  position: absolute;
  height: 140%;
  width: 3px;
  background-color: #a8a9ad;
  top: -15%;
  right: -7px;
}

.header_content #branding #site-description {
  display: inline-block;
  padding-left: 3vw;
  position: relative;
  font-weight: 400;
  font-size: 1.4em;
}

.header_content #header_right {
  position: relative;
  top: 3px;
  display: flex;
  align-items: center;
}

.header_content #header_right .presented_by a {
  margin-right: 12px;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.header_content #header_right .presented_by a img {
  margin-left: 15px;
  width: 45px;
  max-width: 45px;
  height: auto;
}

.header_content #header_right #social_icons {
  height: 25px;
  width: auto;
  position: relative;
}

.header_content #header_right #social_icons .social_share_button {
  height: 100%;
  width: auto;
  margin-left: 5px;
  display: inline-block;
}

.header_content #header_right #social_icons .social_share_button img {
  height: 100%;
  width: auto;
}

.header_content #header_right #nav_toggle {
  width: 24px;
  height: auto;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}

.header_content #header_right #nav_toggle .nav_toggle_line {
  width: 100%;
  height: 2px;
  background-color: black;
  margin: 4px 0;
}

.header_content #header_right #nav_search {
  width: 23px;
  height: 23px;
  position: relative;
  margin-left: 18px;
  z-index: 2;
}

.header_content #header_right #nav_search .close_search {
  display: none;
}

.header_content #header_right #nav_search #nav_search_container {
  height: 100%;
  width: auto;
}

.header_content #header_right #nav_search #nav_search_container #search_toggle {
  width: 17px;
  display: inline-block;
  height: auto;
  position: relative;
  top: 3px;
}

.header_content #header_right #nav_search #nav_search_container #search_toggle img {
  width: 100%;
  height: auto;
}

.header_content #header_right #nav_search #nav_search_container .searchform {
  top: calc(100% + 30px);
  right: 0;
  position: absolute;
  display: none;
  margin-left: 5px;
  white-space: nowrap;
}

.header_content #header_right #nav_search #nav_search_container .searchform #s {
  font-size: 15px;
  padding: 5px 5px;
  width: 180px;
  position: relative;
  top: 1px;
}

.header_content #header_right #nav_search #nav_search_container .searchform #searchsubmit {
  padding: 7px 0;
  width: 80px;
}

.header_content #header_right #nav_search.active .close_search {
  display: block;
}

.header_content #header_right #nav_search.active .mag_glass {
  display: none;
}

.header_content #header_right #nav_search.active #nav_search_container .searchform {
  display: inline-block;
}

body:not(.home) .header_content #branding #site-title a {
  width: 180px;
  min-width: 180px;
}

body:not(.home) .header_content #branding #site-title:after {
  display: none;
}

body:not(.home) .header_content #branding #site-description {
  display: none;
}

#s {
  width: calc(100% - 95px);
  border: 1px solid black;
}

#searchsubmit {
  color: white;
  background-color: black;
  border: 0;
  -webkit-appearance: none;
  width: 95px;
  font-size: 13px;
  padding: 10px 5px;
  text-transform: uppercase;
  font-weight: 600;
}

.menu_overlay {
  position: absolute;
  background-color: white;
  width: auto;
  height: auto;
  display: none;
  top: 7.3vw;
  right: 90px;
  z-index: 3;
}

.menu_overlay nav#menu {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 25px;
}

.menu_overlay nav#menu ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.menu_overlay nav#menu li {
  padding: 10px 0;
  font-size: 1.1em;
  border-bottom: 1px solid #c8c8c8;
}

.menu_overlay nav#menu li:last-of-type {
  border-bottom: none;
}

.menu_overlay nav#menu li a {
  font-weight: 500;
}

.menu_overlay .menu_overlay_content {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.menu_overlay .menu_overlay_content .menu_overlay_bottom {
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu_overlay .menu_overlay_content #search {
  width: 100%;
  padding: 4vw;
}

.menu_overlay .menu_overlay_content #search .searchform > div {
  display: flex;
}

.menu_overlay .menu_overlay_content #menu_social_icons {
  height: 25px;
  margin-top: 10px;
}

.menu_overlay .menu_overlay_content #menu_social_icons .social_share_button {
  height: 100%;
  width: auto;
  margin: 0 3px;
  display: inline-block;
}

.menu_overlay .menu_overlay_content #menu_social_icons .social_share_button img {
  height: 100%;
  width: auto;
}

/*------------------------------------*\
	Homepage Slider
\*------------------------------------*/
.all-caps-dek > a, .all-caps-dek p {
  text-transform: uppercase;
  font-weight: 600 !important;
}

.header_slider {
  width: 100%;
}

.header_slider h2 {
  font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.7rem;
}

.header_slider .header_slide {
  width: 100vw;
}

.header_slider .header_slide .header_slide_inner {
  display: flex;
}

.header_slider .header_slide .header_slide_content {
  width: 28%;
  min-width: 28%;
  background-color: black;
  color: white;
  padding: 3vw 2%;
  -webkit-font-smoothing: antialiased;
}

.header_slider .header_slide .header_slide_content a {
  color: white;
}

.header_slider .header_slide .header_slide_content .content_dek {
  line-height: 24px;
  padding: 17% 25% 5% 17%;
  font-size: 1.1em;
}

.header_slider .header_slide .header_slide_content .content_dek a {
  font-weight: 400;
}

.header_slider .header_slide .header_slide_content .content_dek .slider_dek {
  margin-bottom: 40%;
  display: block;
}

.header_slider .header_slide .header_slide_content h2 a {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
}

.header_slider .header_slide .header_slide_content h2 a p {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
}

.header_slider .header_slide .header_slide_content h2 a p span {
  display: inline-block;
}

.header_slider .header_slide .header_slide_image {
  width: 100%;
  height: auto;
  position: relative;
}

.header_slider .header_slide .header_slide_image .header_slide_image_sizer {
  width: 100%;
  height: 0;
  padding-bottom: 64%;
}

.header_slider .header_slide .header_slide_image .header_slide_image_inner {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

.header_slider .header_slide .header_slide_image img {
  width: 100%;
  height: auto;
}

/*------------------------------------*\
	Homepage Layout
\*------------------------------------*/
.homepage_layout {
  padding-bottom: 50px;
}

.homepage_layout .sponsored_tag {
  font-size: 10px;
  margin-top: 10px;
  text-transform: none;
}

.homepage_layout .sponsored_tag em {
  clear: both;
}

.image_sizer {
  width: 100%;
  height: 0;
  padding-bottom: 60%;
}

.post_image_container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.post_image_container img {
  width: 100%;
  height: auto;
  display: block;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.three_posts_with_color_content .color_post .square_post_image .post_image_container a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.post_image_wrapper {
  position: relative;
}

.post_author {
  font-weight: 400;
  font-size: 16px;
  display: block;
  position: relative;
}

.post_thumb_hed {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

.post_thumb_hed .hotel_name {
  position: absolute;
  bottom: 4%;
  left: 6%;
  font-size: 13px;
}

.post_thumb_hed .extra_content {
  position: absolute;
  bottom: 5%;
  width: 87%;
}

.post_thumb_hed .extra_content p strong {
  font-size: 1.1em;
}

.post_thumb_hed .content_dek {
  text-transform: none;
}

.post_thumb_hed h3 p {
  font-weight: 600;
  font-size: 1em;
}

.home_layout_section {
  margin-top: 54px;
}

.home_layout_section h2 {
  font-size: 1.3em;
  line-height: 1em;
}

.three_squares_with_hed {
  display: flex;
  justify-content: space-between;
}

.three_squares_with_hed .square_post {
  display: flex;
  align-items: flex-start;
  width: 31%;
}

.three_squares_with_hed .square_post .content_dek {
  margin-top: 16px;
}

.three_squares_with_hed .square_post .post_thumb_hed {
  text-transform: none;
}

.three_squares_with_hed .square_post .post_thumb_hed h2 {
  line-height: 1.2em;
}

.three_squares_with_hed .square_post .square_post_image {
  width: 65%;
  min-width: 65%;
  height: auto;
  position: relative;
  /*
			.image_sizer{
				padding-bottom:90%;
			}
*/
}

.three_squares_with_hed .square_post .square_post_image .image_sizer {
  padding-bottom: 100%;
}

.three_squares_with_hed .square_post .square_post_hed {
  padding: 3px 0 0 15px;
  width: 35%;
}

.three_squares_with_hed .square_post .square_post_hed h2 a p {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.1em;
}

.three_squares_with_hed .square_post .square_post_hed h2 a p span {
  display: inline-block;
}

.three_posts_with_color {
  display: flex;
  align-items: flex-start;
}

.three_posts_with_color .placeholder_300 {
  width: 300px;
  text-align: center;
  height: auto;
  padding: 0;
}

.three_posts_with_color .placeholder_300 img {
  width: 100%;
  height: auto;
}

.three_posts_with_color_content {
  width: calc(100% - 300px);
  padding-right: 50px;
}

.three_posts_with_color_content .color_post {
  display: flex;
  margin-bottom: 34px;
  justify-content: space-between;
}

.three_posts_with_color_content .color_post .square_post_hed {
  width: 32%;
  min-width: 32%;
  padding: 5% 3% 3% 3%;
  background-color: #fef02a;
  color: black;
}

.three_posts_with_color_content .color_post .square_post_hed h2 {
  font-size: 1.5em;
  font-weight: 600;
}

.three_posts_with_color_content .color_post .square_post_hed p {
  padding-bottom: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 1em;
}

.three_posts_with_color_content .color_post .square_post_hed p span {
  display: inline-block;
}

.three_posts_with_color_content .color_post .square_post_hed h2 p {
  padding-bottom: 0;
  font-size: 1em;
}

.three_posts_with_color_content .color_post .square_post_hed br {
  line-height: 2.8em;
}

.three_posts_with_color_content .color_post .square_post_hed .content_dek {
  margin-top: 30px;
  font-weight: 500;
  line-height: 1.2em;
  padding-right: 5px;
}

.three_posts_with_color_content .color_post .square_post_hed .content_dek p {
  font-size: 17px;
  font-weight: 400;
  line-height: 1.2em;
}

.three_posts_with_color_content .color_post .square_post_image {
  width: calc(68% - 33px);
  min-width: calc(68% - 33px);
  position: relative;
}

.three_posts_with_color_content .color_post .square_post_image .image_sizer {
  padding-bottom: 75%;
}

.three_posts_with_color_content .color_post:nth-child(3n + 3) .square_post_hed {
  background-color: blue;
}

.three_posts_with_color_content .color_post:nth-child(3n + 3) .square_post_hed a {
  color: white;
}

.three_posts_with_color_content .color_post:nth-child(3n + 3) .square_post_hed .cat_label {
  color: white;
}

.three_posts_with_color_content .color_post:nth-child(2n + 2) {
  flex-direction: row-reverse;
}

.three_posts_with_color_content .color_post:nth-child(2n + 2) .square_post_hed {
  background-color: red;
  color: white;
}

.three_posts_with_color_content .color_post:nth-child(2n + 2) .square_post_hed a {
  color: white;
}

.three_posts_with_color_content .color_post:nth-child(2n + 2) .square_post_hed .cat_label {
  color: white;
}

.four_posts_layout {
  display: flex;
  justify-content: space-between;
  padding-top: 45px;
  padding-bottom: 4vw;
}

.four_posts_layout .quarter_width_post {
  width: calc(25% - 10px);
  min-width: calc(25% - 10px);
  position: relative;
}

.four_posts_layout .quarter_width_post h2 {
  font-size: 1em;
}

.four_posts_layout .quarter_width_post h2 a {
  font-size: 1em;
}

.four_posts_layout .quarter_width_post h2 a p {
  font-size: 1em;
}

.four_posts_layout .quarter_width_post .image_sizer {
  padding-bottom: 137%;
}

.four_posts_layout .quarter_width_post.pType_post .post_thumb_hed {
  position: absolute;
  bottom: calc(100% + 10px);
  left: 0;
}

.four_posts_layout .quarter_width_post.pType_post .content_dek p {
  font-size: 1em;
}

.four_posts_layout .quarter_width_post.pType_page .post_thumb_hed {
  position: relative;
  background-color: black;
  background-color: black;
}

.four_posts_layout .quarter_width_post.pType_page .post_thumb_hed h2 a {
  font-size: 1.5em;
  color: white;
  line-height: 24px;
}

.four_posts_layout .quarter_width_post.pType_page .post_thumb_hed p {
  color: white;
  text-transform: none;
  font-size: 1.1em;
}

.four_posts_layout .quarter_width_post.pType_page .content_dek {
  margin-top: 26px;
}

.four_posts_layout .quarter_width_post.pType_page .post_hed_sizer {
  height: 0;
  padding-bottom: 137%;
}

.four_posts_layout .quarter_width_post.pType_page .post_hed_sizer a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  padding: 22% 22% 10% 10%;
}

.four_posts_layout .quarter_width_post.pType_page .post_thumb_hed_content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 22% 22% 10% 10%;
}

/*------------------------------------*\
	Category Posts
\*------------------------------------*/
.categories_layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 5vw;
}

.categories_layout .category_post {
  width: 30%;
  position: relative;
  margin-top: 3vw;
}

.categories_layout .category_post .cat_header_label {
  margin-bottom: 10px;
}

.categories_layout .category_post .post_thumb_hed {
  padding: 1.5vw 1.3vw;
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 200px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.categories_layout .category_post .post_thumb_hed .content_dek {
  margin-top: 5px;
  font-size: 1.1em;
}

.categories_layout .category_post .post_thumb_hed h2 a, .categories_layout .category_post .post_thumb_hed h2 a p {
  color: white;
  font-weight: 600;
}

.categories_layout .category_post .post_thumb_hed a p {
  color: white;
}

.categories_layout .category_post .category_post_image {
  position: relative;
}

.categories_layout .category_post .image_sizer {
  padding-bottom: 136%;
}

.categories_layout .category_post:nth-child(2n + 2) {
  width: 68%;
}

.categories_layout .category_post:nth-child(2n + 2) .image_sizer {
  padding-bottom: 60%;
}

/*------------------------------------*\
	Homepage Content Boxes
\*------------------------------------*/
.content_block_header {
  padding: 24px 0 30px;
  display: flex;
  align-items: center;
}

.content_block_header .block_line {
  width: 100%;
  height: 1px;
  background-color: black;
}

.content_block_header .block_label {
  font-weight: 500;
  white-space: nowrap;
  text-transform: uppercase;
  padding: 0 22px;
  letter-spacing: 3px;
  font-size: 1.1em;
}

.ad_block {
  width: 100%;
  padding: 10px 0 20px;
}

.ad_block .banner_ad_970 {
  width: 970px;
  margin: 0 auto;
  text-align: center;
}

.ad_block .banner_ad_970 #gradient {
  height: auto;
}

.ad_block .banner_ad_300 {
  width: 300px;
  margin: 0 auto;
}

.ad_block .banner_ad_300 img {
  width: 100%;
  height: auto;
}

.content_block_section {
  margin-bottom: 3.5vw;
  display: flex;
  justify-content: space-between;
}

.post_video {
  width: calc(100% - 340px);
  min-width: calc(100% - 340px);
}

.single_post_layout {
  width: 100%;
  display: block;
}

.single_post_layout .post_image_wrapper {
  width: calc(68% - 30px);
  min-width: calc(68% - 30px);
}

.single_post_layout .post_thumb_hed {
  width: 32%;
  min-width: 32%;
  background-color: black;
  color: white;
  text-transform: none;
  padding: 5% 7% 2% 2%;
}

.single_post_layout .post_thumb_hed h2 {
  text-transform: uppercase;
  font-size: 1.6em;
}

.single_post_layout .post_thumb_hed h2 a {
  color: white;
}

.single_post_layout .post_thumb_hed h2 a p {
  font-weight: 600;
}

.single_post_layout .post_thumb_hed .content_dek {
  margin-top: 37px;
}

.single_post_layout .post_thumb_hed .content_dek p {
  color: white;
  font-size: 1.2em;
  line-height: 1.3em;
}

.single_post_layout .image_sizer {
  display: none;
}

.single_post_layout .post_image_container {
  position: relative;
  width: 100%;
  height: auto;
}

.single_post_layout .content_break_image_container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.single_post_layout .content_break_image_container .post_thumb_hed {
  padding-right: 7%;
}

.single_post_layout .content_break_image_container .post_thumb_hed h2 {
  font-size: 1.6em;
}

.single_post_layout .content_break_image_container .post_thumb_hed .content_dek {
  margin-top: 36px;
}

.single_post_layout .image_break_content_container {
  display: flex;
  justify-content: space-between;
}

.single_post_layout .content_image_container {
  display: flex;
  flex-direction: row-reverse;
}

.single_post_layout .content_image_container .post_thumb_hed {
  width: 24%;
  min-width: 24%;
  padding-right: 70px;
}

.single_post_layout .content_image_container .post_thumb_hed h2 {
  font-size: 1.6em;
}

.single_post_layout .content_image_container .post_image_wrapper {
  width: 76%;
  min-width: 76%;
}

.single_post_layout .content_image_container .post_image_wrapper .image_sizer {
  padding-bottom: 53%;
}

.single_post_layout.white_bg .post_thumb_hed {
  background-color: white;
  text-align: right;
  padding-right: 2%;
  padding-left: 3%;
}

.single_post_layout.white_bg .post_thumb_hed a, .single_post_layout.white_bg .post_thumb_hed p {
  color: black;
}

.single_post_layout.white_bg .post_thumb_hed .hotel_name {
  color: black;
  right: 6%;
  left: auto;
}

.single_post_layout .full_width_image_container .post_image_wrapper {
  width: 100%;
  min-width: 100%;
}

.single_post_layout .full_width_image_container .post_image_container {
  position: absolute;
  height: 100%;
}

.single_post_layout .full_width_image_container .post_thumb_hed {
  width: 100%;
  min-width: 100%;
  background-color: transparent;
  color: black;
  padding: 15px 0;
}

.single_post_layout .full_width_image_container .post_thumb_hed a, .single_post_layout .full_width_image_container .post_thumb_hed p {
  color: black;
}

.single_post_layout .full_width_image_container .post_thumb_hed h2, .single_post_layout .full_width_image_container .post_thumb_hed .content_dek {
  display: inline-block;
  margin-top: 0;
}

.single_post_layout .full_width_image_container .image_sizer {
  padding-bottom: 50%;
  display: block;
}

.three_varied_posts .varied_post {
  width: 29%;
}

.three_varied_posts .varied_post h3 {
  font-size: 1.3em;
}

.three_varied_posts .varied_post p {
  font-size: 1.1em;
}

.three_varied_posts .varied_post .image_sizer {
  padding-bottom: 72%;
}

.three_varied_posts .varied_post .post_thumb_hed {
  padding-top: 7px;
}

.three_varied_posts .varied_post:nth-child(2n + 2) {
  width: 37%;
}

.three_varied_posts .varied_post:nth-child(2n + 2) .image_sizer {
  padding-bottom: 56.5%;
}

.two_posts_layout .post_thumb_hed {
  margin-top: 15px;
  padding-right: 25px;
}

.two_posts_layout .post_thumb_hed h3 {
  font-size: 1.1em;
}

.two_posts_layout .content_dek {
  font-weight: 400;
  font-size: 16px;
  margin-top: 8px;
  line-height: 1.1em;
}

.two_posts_layout .two_posts_layout_50_50 {
  width: 48.4%;
  min-width: 48.4%;
}

.two_posts_layout .two_posts_layout_50_50 .image_sizer {
  padding-bottom: 62%;
}

.two_posts_layout .two_posts_layout_70_30.layout_0 {
  width: 65.5%;
  min-width: 65.5%;
}

.two_posts_layout .two_posts_layout_70_30.layout_0 .image_sizer {
  padding-bottom: 70%;
}

.two_posts_layout .two_posts_layout_70_30.layout_1 {
  width: 30.5%;
  min-width: 30.5%;
}

.two_posts_layout .two_posts_layout_70_30.layout_1 .image_sizer {
  padding-bottom: 150.2%;
}

.two_posts_layout .two_posts_layout_30_70 {
  position: relative;
}

.two_posts_layout .two_posts_layout_30_70 a {
  color: white;
}

.two_posts_layout .two_posts_layout_30_70 h3 {
  font-size: 1.3em;
  margin-right: 10px;
}

.two_posts_layout .two_posts_layout_30_70 .post_thumb_hed .content_dek {
  line-height: 1.2em;
}

.two_posts_layout .two_posts_layout_30_70.layout_0 {
  width: 29.5%;
  min-width: 29.5%;
}

.two_posts_layout .two_posts_layout_30_70.layout_0 .image_sizer {
  padding-bottom: 122.2%;
}

.two_posts_layout .two_posts_layout_30_70.layout_0 .post_thumb_hed {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  position: absolute;
  width: 95%;
  left: 2.5%;
  bottom: 10px;
  padding: 5px 8px;
}

.two_posts_layout .two_posts_layout_30_70.layout_0 .post_thumb_hed .content_dek {
  margin-top: 5px;
}

.two_posts_layout .two_posts_layout_30_70.layout_1 {
  display: flex;
  flex-direction: row-reverse;
  width: calc(70.5% - 20px);
  min-width: calc(70.5% - 20px);
}

.two_posts_layout .two_posts_layout_30_70.layout_1 .image_sizer {
  padding-bottom: 75%;
}

.two_posts_layout .two_posts_layout_30_70.layout_1 .post_image_wrapper {
  width: 70%;
  min-width: 70%;
}

.two_posts_layout .two_posts_layout_30_70.layout_1 .post_thumb_hed {
  width: 30%;
  min-width: 30%;
  background-color: black;
  color: white;
  padding: 5% 2.5% 2%;
  margin-top: 0;
}

.two_posts_layout .two_posts_layout_30_70.layout_1 .post_thumb_hed h3 {
  padding-right: 30px;
}

.two_posts_layout .two_posts_layout_30_70.layout_1 .post_thumb_hed .content_dek {
  margin-top: 17px;
}

.two_posts_layout .yellow_bg {
  background-color: #fef02a;
  padding: 14px 20px;
  margin-top: 0;
}

.two_posts_layout .yellow_bg h3, .two_posts_layout .yellow_bg .content_dek {
  display: inline-block;
}

/*------------------------------------*\
	City layout
\*------------------------------------*/
.city_layout {
  background-color: #f2ede9;
  padding-top: 2vw;
}

.city_layout .top_row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.city_layout .top_row .top_row_left, .city_layout .top_row .top_row_right {
  width: 50%;
  min-width: 50%;
}

.city_layout .top_row .top_row_left img, .city_layout .top_row .top_row_right img {
  width: 100%;
  height: auto;
}

.city_layout .top_row .top_row_right {
  width: 48.5%;
  min-width: 48.5%;
}

.city_layout .top_row .top_row_left_content {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.city_layout .top_row .top_row_left_content .city_title {
  width: 62%;
  min-width: 62%;
  text-align: right;
}

.city_layout .top_row .top_row_left_content .city_title h1 a {
  color: blue;
  text-transform: uppercase;
}

.city_layout .top_row .top_row_left_content .city_title h2 a {
  font-weight: 600;
  text-transform: uppercase;
}

.city_layout .top_row .top_row_left_content .city_title h2 a p {
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1em;
}

.city_layout .top_row .top_row_left_content .city_title .city_excerpt {
  margin-top: 15px;
  width: 65%;
  margin-left: 35%;
}

.city_layout .top_row .top_row_left_content .city_title .city_excerpt a {
  font-size: 1.2em;
  font-weight: 400;
}

.city_layout .top_row .top_row_left_content .city_image_1 {
  width: 35%;
  height: auto;
}

.city_layout .top_row .top_row_left_content .city_image_1 img {
  width: 100%;
  height: auto;
}

.city_layout .bottom_row {
  display: flex;
  justify-content: flex-end;
}

.city_layout .bottom_row .bottom_row_content {
  width: 67.5%;
  min-width: 67.5%;
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.city_layout .bottom_row .bottom_row_content .city_image_2 {
  width: 40%;
  min-width: 40%;
}

.city_layout .bottom_row .bottom_row_content .city_image_2 img {
  width: 100%;
  height: auto;
}

.city_layout .bottom_row .bottom_row_content .extra_content {
  width: 57.5%;
  min-width: 57.5%;
}

.city_layout .bottom_row .bottom_row_content .extra_content .extra_content_link {
  display: block;
  font-weight: 400;
  line-height: 1.2em;
  margin-bottom: 10px;
  text-decoration: underline;
}

.city_layout .bottom_row .bottom_row_content .extra_content strong {
  margin-bottom: 10px;
  display: inline-block;
}

/*------------------------------------*\
	Single
\*------------------------------------*/
.single-post #container {
  padding-top: 2em;
}

.single-post #container .inner_content {
  padding: 0 10.5vw;
}

.single-post #trending_bar {
  visibility: hidden;
  width: 100%;
  padding: 0 6.35vw 0;
  position: relative;
  text-align: right;
  margin: 20px 0 30px;
}

.single-post #trending_bar #trending_bar_content {
  background-color: #fef02a;
  color: black;
  border-radius: 8px;
  padding: 12px 30px;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
  text-align: left;
  line-height: 1.3em;
}

.single-post #trending_bar #trending_bar_content strong {
  margin-right: 8px;
}

.single-post #single_header {
  width: 100%;
}

.single-post #single_header .sponsored_tag {
  font-size: 14px;
  margin-bottom: 5px;
  position: absolute;
  top: 30px;
}

.single-post #single_header .sponsored_tag p {
  padding-bottom: 0 !important;
}

.single-post #single_header #single_header_content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.single-post #single_header #single_header_content .content_dek {
  margin-top: 30px;
  text-transform: none;
  font-size: 16px;
  line-height: 1.4em;
  font-weight: 400;
}

.single-post #single_header #single_header_content .post_author {
  font-size: 16px;
  font-weight: 400;
  margin-top: 30px;
}

.single-post #single_header .featured_thumbnail_container {
  width: calc(100% - 140px);
  min-width: calc(100% - 140px);
}

.single-post #single_header .featured_thumbnail_container .featured_thumbnail_content {
  position: relative;
}

.single-post #single_header .featured_thumbnail_container .featured_image_caption {
  padding: 10px 0 0;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.single-post #single_header .featured_thumbnail_container .image_sizer {
  height: 0;
  padding-bottom: 60%;
}

.single-post #single_header .featured_thumbnail_container .featured_thumbnail {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.single-post #single_header .featured_thumbnail_container img {
  width: 100%;
  height: auto;
}

.single-post #single_header .single_header_title_container {
  max-width: 50%;
  padding: 0 30px 0 0;
  position: relative;
}

.single-post #single_header .single_header_title {
  width: 100%;
  margin-bottom: 1em;
}

.single-post #single_header .single_header_title .social_share_container {
  margin-top: 0;
  margin-bottom: 30px;
}

.single-post #single_header .single_header_title h1 {
  text-transform: uppercase;
  font-weight: 600;
  line-height: 1em;
  font-size: 1.4em;
}

.single-post #single_header .single_header_title h1 span, .single-post #single_header .single_header_title h1 p {
  font-size: 1em;
  font-weight: 600;
  padding-bottom: 0;
}

.single-post #single_header .single_header_title .single_ad_tags p {
  padding: 0;
  width: 0;
  height: 0;
}

.single-post #single_header.port_img .image_sizer {
  padding-bottom: 125%;
}

.single-post #single_header.port_img #single_header_content {
  padding-left: 30%;
}

.single-post #single_content_container {
  padding-top: 43px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.single-post #single_content_container .extra_content {
  margin-top: 30px;
}

.single-post #single_content_container .footer {
  padding-top: 30px;
}

.single-post #single_content_container #sidebar {
  width: 300px;
  min-width: 300px;
}

.single-post #single_content_container #sidebar .social_share_container {
  margin-top: 0;
  margin-bottom: 3em;
}

.single-post #single_content_container #sidebar .social_share_container::after {
  content: 'SHARE THIS ARTICLE';
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  padding-left: 12px;
  color: red;
}

.single-post #single_content_container #sidebar .widget-container {
  margin-bottom: 30px;
}

.single-post #single_content_container #sidebar .caption_text {
  width: 80%;
  float: right;
  font-size: 12px;
  text-align: left;
  margin-top: 5px;
}

.single-post #single_content {
  width: calc(100% - 340px);
  min-width: calc(100% - 340px);
  padding: 0 0 40px 0;
}

.single-post #single_content hr {
  border: none;
}

.single-post #single_content .wp-caption {
  width: auto;
  max-width: 100% !important;
  position: relative;
}

.single-post #single_content .wp-caption img {
  max-width: 100% !important;
  height: auto;
}

.single-post #single_content img {
  max-width: 100% !important;
  height: auto;
}

.single-post #single_content p {
  font-size: 14px;
}

.single-post #single_content p iframe {
  max-width: 100%;
}

.single-post #single_content p img {
  max-width: 100%;
  height: auto;
  display: block;
}

.single-post #single_content p img.aligncenter {
  position: relative;
  display: block;
  margin: 0 auto;
}

.single-post #single_content p img.alignnone.size-full {
  width: 100%;
  height: auto;
}

.single-post #single_content p img.alignright {
  margin: 0 0 10px 15px;
  float: right;
}

.single-post #single_content .alignleft {
  float: left;
  width: auto !important;
  max-width: 50% !important;
  margin: 0 15px 10px -40px;
}

.single-post #single_content .alignleft img {
  width: 100%;
  height: auto;
  display: block;
}

.single-post #single_content .alignleft .wp-caption-text {
  padding: 10px 0;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.single-post #single_content .alignright {
  float: right;
  width: auto !important;
  max-width: 40% !important;
  margin: 0 0 10px 15px;
}

.single-post #single_content .alignright img {
  width: 100%;
  height: auto;
  display: block;
}

.single-post #single_content .alignright .wp-caption-text {
  padding: 10px 0;
  color: black;
  font-size: 12px;
  font-weight: 600;
}

.single-post #single_content .aligncenter .wp-caption-text, .single-post #single_content .alignnone .wp-caption-text {
  font-weight: 600;
  margin-top: 10px;
  font-size: 12px;
}

.single-post #single_content .post_author {
  margin-top: 15px;
  text-align: right;
  font-weight: 600;
  font-size: 1em;
}

.single-post #single_content .social_share_container {
  margin-top: 45px;
}

.single-post #container > .inner_content .entry-content {
  padding-right: 50px;
}

.single-post #container > .inner_content .entry-content img {
  width: 100%;
  height: auto;
}

.single-post #content {
  padding: 0 0 4vw;
  width: 100%;
}

.single-post.post-type-photo-essay #container {
  background-color: black;
  color: white;
  margin-top: 20px;
}

.single-post.post-type-photo-essay #single_header .single_header_title_container {
  width: 100%;
  padding: 30px 0 0 0;
}

.single-post.post-type-photo-essay #single_content {
  width: 100%;
  min-width: 100%;
}

.single-post.post-type-photo-essay #single_content_container {
  padding-top: 0;
}

.single-post.post-type-photo-essay .single_content_text {
  width: 75%;
}

.single-post.post-type-photo-essay #content {
  width: 100%;
}

.single-post.post-type-photo-essay #trending_bar {
  right: 0;
}

.wp-caption.has_photo_credit .wp-caption-text, .wp-caption.has_photo_credit .featured_image_caption, .featured_thumbnail_container.has_photo_credit .wp-caption-text, .featured_thumbnail_container.has_photo_credit .featured_image_caption {
  padding-top: 0 !important;
}

.photo_credit {
  text-align: left;
  padding: 3px 0;
  font-size: 11px !important;
  color: #787878 !important;
}

.pop_posts {
  width: 300px;
  position: relative;
  margin-bottom: 40px;
}

.pop_posts h3 {
  color: white;
  font-size: 15px;
  background-color: red;
  padding: 10px 15px;
}

.pop_posts .pop_posts_container {
  padding: 15px 0;
}

.pop_posts .pop_posts_container .pop_post {
  padding: 8px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.pop_posts .pop_posts_container .pop_post p {
  text-transform: none;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
}

.pop_posts .pop_posts_container .pop_post p span {
  font-weight: 600;
  text-transform: uppercase;
}

.pop_posts .pop_posts_container .pop_post h5 {
  font-size: 14px;
}

.pop_posts .pop_posts_container .pop_post h5 p {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}

.pop_posts .pop_posts_container .pop_post:last-of-type {
  border-bottom: none;
}

#sidebar .wl_sidebar_ad {
  margin-bottom: 50px;
  text-align: center;
}

#sidebar .related_posts {
  width: 300px;
  min-width: 300px;
  margin-bottom: 3em;
}

#sidebar .related_posts .photo_credit {
  text-align: right;
}

#sidebar .related_posts h3 {
  color: white;
  font-size: 15px;
  background-color: red;
  padding: 10px 15px;
  margin-bottom: 20px;
}

#sidebar .related_posts .related_posts_container {
  display: flex;
  flex-direction: column;
}

#sidebar .related_posts .related_posts_container .related_post {
  width: 100%;
  display: flex;
  margin: 5px 0;
  padding: 0 0 8px 0;
  align-items: flex-start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

#sidebar .related_posts .related_posts_container .related_post .post_thumb_hed {
  padding: 0;
  font-size: .9em;
}

#sidebar .related_posts .related_posts_container .related_post .post_thumb_hed p {
  text-transform: none;
  padding-top: 4px;
  font-weight: 600;
}

#sidebar .related_posts .related_posts_container .related_post .post_thumb_hed h4 {
  font-size: 14px;
}

#sidebar .related_posts .related_posts_container .related_post .post_thumb_hed h4 p {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

#sidebar .related_posts .related_posts_container .related_post .post_thumb_hed h4 p span {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

#sidebar .related_posts .related_posts_container .related_post.last_post {
  border-bottom: none !important;
}

#sidebar .related_posts .related_posts_container .post_image_wrapper {
  position: relative;
  text-align: right;
  margin-top: 20px;
}

#sidebar .related_posts .related_posts_container .post_image_wrapper img {
  width: 80%;
  height: auto;
}

.top_list_container .top_list li {
  margin-bottom: 5vw;
}

.top_list_container .top_list li .top_list_title {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.top_list_container .top_list li img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.post-type-photo-essay #content {
  padding-right: 0;
}

.post-type-photo-essay #single_content {
  padding-top: 0;
}

.post-type-photo-essay .cat_label {
  color: red;
}

.post-type-photo-essay .single_post_author a {
  color: white;
}

.getty.embed.image {
  background-color: transparent !important;
}

.photo_essay_container .photo_essay {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 4vw 0 2vw;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.photo_essay_container .photo_essay .photo_essay_image {
  width: 75%;
  min-width: 75%;
}

.photo_essay_container .photo_essay .photo_essay_image img {
  width: 100%;
  height: auto;
  display: block;
}

.photo_essay_container .photo_essay .photo_essay_content {
  width: 25%;
  min-width: 25%;
  padding-left: 4%;
}

.photo_essay_container .photo_essay .photo_essay_content h3 {
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
  line-height: 1.2em;
  font-size: 17px;
}

.photo_essay_container .photo_essay:last-of-type {
  border-bottom: 0;
}

.related_posts h3, .related_posts h4 {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 10px;
}

.related_posts h3 p, .related_posts h3 p span, .related_posts h4 p, .related_posts h4 p span {
  font-weight: 600 !important;
  text-transform: uppercase !important;
}

.related_posts .related_posts_container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.related_posts .related_posts_container .related_post {
  width: 32%;
  height: auto;
  position: relative;
}

.related_posts .related_posts_container .related_post .image_sizer {
  padding-bottom: 66%;
}

.related_posts .related_posts_container .related_post:nth-child(2) .image_sizer {
  padding-bottom: 120%;
}

.related_posts .related_posts_container .related_post .post_thumb_hed {
  padding-top: 10px;
}

.related_posts .related_posts_container .related_post .post_thumb_hed h4 {
  font-size: 14px;
}

.related_posts .related_posts_container .related_post .post_thumb_hed span {
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
}

.related_posts .related_posts_container .related_post .content_dek {
  margin-top: 5px;
  text-transform: none;
  font-weight: 400;
  font-size: 14px;
}

.related_posts.author_posts {
  padding: 6vw 0;
}

.related_posts.author_posts h2 {
  font-size: 1.4em;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
}

.related_posts.author_posts h2 span {
  font-weight: 400;
}

/*------------------------------------*\
	Page
\*------------------------------------*/
.page .entry-title {
  font-weight: 600;
  text-transform: uppercase;
}

.page:not(.home) #content {
  padding: 4vw 0;
}

.page .single_page {
  padding: 5vw 0;
}

.page .single_page header {
  margin-bottom: 3vw;
}

/*------------------------------------*\
	Search
\*------------------------------------*/
.search-results .search_inner {
  padding: 3vw 5.5vw;
}

.search-results .search_inner article {
  padding: 15px 0;
  border-bottom: 1px solid #c8c8c8;
}

.search-results .search_inner .entry-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
}

.search-results #nav-below {
  padding: 15px 0;
  font-weight: 600;
  text-transform: uppercase;
}

/*------------------------------------*\
	Category Landing
\*------------------------------------*/
.category_inner {
  padding: 3vw 10.5vw;
}

.category_inner article {
  padding: 15px 0;
  border-bottom: 1px solid #c8c8c8;
}

.category_inner .entry-title {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.4em;
}

#nav-below {
  padding: 15px 0;
  font-weight: 600;
  text-transform: uppercase;
}

/*------------------------------------*\
	Slick
\*------------------------------------*/
.slick-slider {
  width: 100%;
}

.slick-slider .slick-list {
  width: 100%;
}

.slick-slider .slick-dots {
  position: absolute;
  list-style: none;
  display: inline-block;
  text-align: center;
  padding: 0;
  left: 45px;
  bottom: 32px;
}

.slick-slider .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 3px;
  padding: 0;
  cursor: pointer;
}

.slick-slider .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}

.slick-slider .slick-dots li button:hover, .slick-slider .slick-dots li button:focus {
  outline: none;
}

.slick-slider .slick-dots li button:hover:before, .slick-slider .slick-dots li button:focus:before {
  opacity: 1;
}

.slick-slider .slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 28px;
  line-height: 5px;
  text-align: center;
  color: #d6d6d6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slider .slick-dots li.slick-active button:before {
  color: red;
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.8);
}

/*------------------------------------*\
	Footer
\*------------------------------------*/
.zerghead {
  padding: 20px 5.5vw 1.5vw 5.5vw;
}

.zergrow {
  display: flex;
  justify-content: space-between;
  padding: .5vw 5.5vw 1.5vw 5.5vw;
}

.zergrow .zergentity {
  margin: 0 !important;
  width: 15% !important;
}

#footer_newsletter {
  background-color: #f2ede9;
  padding: 35px;
}

#footer_newsletter .footer_newsletter_container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
}

#footer_newsletter .footer_newsletter_container .newsletter_content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#footer_newsletter .footer_newsletter_container .newsletter_content h2 {
  font-weight: 600;
  width: 235px;
  font-size: 1.7em;
  text-transform: uppercase;
}

#footer_newsletter .footer_newsletter_container .newsletter_content .signup_container {
  margin-top: 4vw;
}

#footer_newsletter .footer_newsletter_container .newsletter_dek {
  width: 300px;
  margin-top: 15px;
}

#footer_newsletter .footer_newsletter_container .newsletter_cta {
  text-transform: uppercase;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 1.3em;
}

#footer_newsletter .footer_newsletter_container .newsletter_email {
  padding: 10px;
  width: calc(100% - 95px);
  border: none;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  float: left;
}

#footer_newsletter .footer_newsletter_container .newsletter_submit {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: black;
  color: white;
  text-transform: uppercase;
  padding: 8px 15px 9px 15px;
  float: left;
  border: none;
  outline: none;
  font-weight: 600;
  font-size: 13px;
  width: 95px;
}

#footer_newsletter .footer_newsletter_container .newsletter_image {
  width: 55%;
  height: auto;
}

#footer_newsletter .footer_newsletter_container .newsletter_image img {
  width: 100%;
  height: auto;
}

footer#footer {
  background-color: black;
  color: white;
}

footer#footer .inner_content {
  width: 88%;
}

footer#footer #footer_content {
  padding: 7% 0 10px;
  display: flex;
  justify-content: space-between;
}

footer#footer #footer_content .footer_section {
  color: white;
  width: 30%;
  padding: 20px 0;
}

footer#footer #footer_content .footer_section .footer_section_content {
  padding: 17px 0;
}

footer#footer #footer_content .footer_section .footer_section_content .menu-footer-menu-container {
  padding: 23px 0;
}

footer#footer #footer_content .footer_section .footer_section_content .menu-footer-menu-container li {
  padding: 10px 0;
}

footer#footer #footer_content .footer_section .footer_section_content .menu-footer-menu-container li a {
  color: white;
  font-size: 13px;
}

footer#footer #footer_content .footer_section .white_logo {
  width: 60%;
  height: auto;
}

footer#footer #footer_content .footer_section h6 {
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
  font-size: 14px;
}

footer#footer .press_play_container {
  width: 100%;
}

footer#footer .press_play_container .press_play {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

footer#footer .press_play_container .press_play:not(:last-of-type):after {
  content: '';
  position: absolute;
  width: calc(75% - 15px);
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
  bottom: -7px;
  right: 0;
}

footer#footer .press_play_container .press_play .press_play_image_container {
  width: 25%;
  min-width: 25%;
  height: auto;
  position: relative;
}

footer#footer .press_play_container .press_play .press_play_image_container .image_sizer {
  width: 100%;
  height: 0;
  padding-bottom: 90%;
}

footer#footer .press_play_container .press_play .press_play_image_container .press_play_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

footer#footer .press_play_container .press_play .press_play_hed {
  display: flex;
  align-items: center;
  padding-left: 15px;
  width: 75%;
  min-width: 75%;
}

footer#footer .press_play_container .press_play .press_play_hed p, footer#footer .press_play_container .press_play .press_play_hed a {
  color: white;
  font-size: 14px;
  font-weight: 200;
}

footer#footer #copyright {
  width: 100%;
  padding: 10px 40px;
  text-align: center;
  font-size: 11px;
}

footer#footer #copyright a {
  color: white;
  text-decoration: underline;
}

.error404 header.header {
  background-color: #c8c8c8;
  padding: 10vw;
  text-align: center;
}

.error404 header.header .entry-title {
  text-transform: uppercase;
}

.error404 header.header .search_404 {
  width: 60%;
  margin: 3vw auto 0;
}

.error404 header.header .search_404 > p {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 600;
}

.error404 header.header .search_404 .searchform > div {
  display: flex;
}

.error404 .related_posts {
  padding: 5vw 0;
}

body.author #container {
  max-width: 100%;
}

body.author header.header {
  background-color: #ebebeb;
  padding: 5vw 0;
}

body.author .author_info {
  display: flex;
  margin-top: 2vw;
}

body.author .author_info .author_description p {
  padding-bottom: 30px;
}

body.author .author_info .author_image_container {
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  position: relative;
  margin-right: 2vw;
}

body.author .author_info .author_image_container .image_sizer {
  padding-bottom: 100%;
}

body.author .author_info .author_image_container .author_image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

@media (max-width: 1280px) {
  html, body {
    font-size: 14px;
  }
  .header_slide_content .content_dek p {
    font-size: 16px;
  }
  .header_content {
    padding: 0 7.8vw;
  }
  .single-post #trending_bar {
    padding: 0 8.2vw 0;
  }
}

@media (max-width: 1150px) {
  html, body {
    font-size: 13px;
  }
  .single-post #single_content p {
    font-size: 1em;
  }
}

@media (max-width: 1024px) {
  html, body {
    font-size: 14px;
  }
  .header_content #branding #site-description {
    font-size: 1.2em;
  }
  /*---------------------------------------*\
		Three Square Posts Max-width: 1024
	\*---------------------------------------*/
  .three_squares_with_hed .square_post {
    flex-direction: column;
  }
  .three_squares_with_hed .square_post .square_post_image {
    width: 100%;
  }
  .three_squares_with_hed .square_post .square_post_hed {
    padding: 0;
    margin-top: 10px;
    width: 100%;
  }
  /*---------------------------------------*\
		Three Posts Colored Content
	\*---------------------------------------*/
  .three_posts_with_color {
    flex-direction: column;
  }
  .three_posts_with_color .three_posts_with_color_content {
    width: 100%;
    padding-right: 0;
  }
  footer#footer .inner_content {
    width: 100%;
    padding: 0 5%;
  }
  footer#footer .inner_content #footer_content {
    padding: 7% 0 10px;
  }
  .single-post #single_header .sponsored_tag {
    margin-bottom: 15px;
    position: relative;
    top: auto;
  }
}

@media (max-width: 900px) {
  .header_content #branding {
    display: flex;
    flex-direction: column;
  }
  .header_content #branding #site-title:after {
    display: none;
  }
  .header_content #branding #site-description {
    padding-left: 0;
    margin-top: 5px;
  }
  .tablet_size {
    display: block;
  }
  .header_slider {
    font-size: .8em;
  }
  .header_slider .header_slide .header_slide_content .content_dek {
    padding: 17% 5% 5% 1%;
  }
  .header_slider .header_slide .header_slide_content .content_dek .slider_dek {
    margin-bottom: 15%;
  }
  /*------------------------------------------*\
		SINGLE POST LAYOUT (900px)
	\*------------------------------------------*/
  .single_post_layout {
    font-size: .9em;
  }
  /*------------------------------------------*\
		TWO POST LAYOUT (900px)
	\*------------------------------------------*/
  .two_posts_layout .two_posts_layout_30_70.layout_0 {
    width: 36.5%;
    min-width: 36.5%;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_0 .post_thumb_hed {
    width: 100%;
    position: relative;
    left: auto;
    bottom: auto;
    margin-top: 5px;
    background-color: transparent;
    color: black;
    padding: 0;
    flex-direction: column;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_0 .post_thumb_hed .content_dek {
    margin: 0;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_0 .post_thumb_hed a {
    color: black;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_1 {
    flex-direction: column;
    width: calc(63.5% - 20px);
    min-width: calc(63.5% - 20px);
  }
  .two_posts_layout .two_posts_layout_30_70.layout_1 .post_image_wrapper {
    width: 100%;
    min-width: 100%;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_1 .post_thumb_hed {
    width: 100%;
    padding: 0;
    margin-top: 5px;
    background-color: transparent;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_1 .post_thumb_hed .content_dek {
    margin-top: 0;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_1 .post_thumb_hed a {
    color: black;
  }
  /*------------------------------------------*\
		FOUR POST LAYOUT (900px)
	\*------------------------------------------*/
  .four_posts_layout {
    flex-wrap: wrap;
    padding-top: 0;
  }
  .four_posts_layout .quarter_width_post {
    width: 48%;
    min-width: 48%;
    display: flex;
    margin-bottom: 4vw;
  }
  .four_posts_layout .quarter_width_post .post_thumb_hed {
    display: none;
  }
  .four_posts_layout .quarter_width_post .post_image_wrapper {
    width: 60%;
    min-width: 60%;
  }
  .four_posts_layout .quarter_width_post .content_and_hed {
    padding: 0 3% 0 10px;
  }
  .four_posts_layout .quarter_width_post .content_and_hed h2 {
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .four_posts_layout .quarter_width_post.pType_page .post_thumb_hed {
    display: block;
    width: calc(100% - 30px);
  }
  .four_posts_layout .quarter_width_post.pType_page .post_thumb_hed .post_hed_sizer {
    width: 100%;
    height: auto;
    padding-bottom: 0;
  }
  .four_posts_layout .quarter_width_post .post_thumb_hed_content {
    position: relative;
  }
  /*------------------------------------------*\
		CITY LAYOUT (900px)
	\*------------------------------------------*/
  .city_layout p, .city_layout .city_excerpt {
    font-size: 1em;
  }
  .city_layout .top_row .top_row_left_content .city_title h1 {
    font-size: 1.6em;
  }
  .city_layout .top_row .top_row_left_content .city_title h2 {
    font-size: 18px;
  }
  .city_layout .top_row .top_row_left_content .city_title .city_excerpt {
    font-size: 1em;
    width: 100%;
    margin: 15px 0 0 0;
  }
}

@media (max-width: 768px) {
  #container {
    padding-top: 80px;
  }
  .post_thumb_hed .extra_content {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 10px;
  }
  .post_thumb_hed .hotel_name {
    position: relative;
    left: auto;
    right: auto !important;
    bottom: auto;
    color: black;
    margin-top: 10px;
  }
  .mobile {
    display: block;
  }
  .mobile_leaderboard {
    margin: 0 auto;
  }
  header#header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
  }
  header#header #header_right .presented_by a {
    flex-direction: row;
    font-size: .9em;
  }
  header#header #header_right .presented_by a img {
    width: 25px;
    max-width: 25px;
    margin-top: 0;
  }
  #wrapper #DSK_Leaderboard {
    padding-top: 0;
    position: relative;
    top: 75px;
  }
  #nav_search {
    display: none;
  }
  .menu_overlay {
    height: calc(100vh - 75px);
    top: 75px;
    right: 0;
  }
  .menu_overlay nav#menu ul {
    flex-direction: column;
  }
  .menu_overlay .menu_overlay_content .menu_overlay_bottom {
    display: flex;
  }
  .header_content {
    padding: 0 5.5%;
    position: relative;
    z-index: 3;
    justify-content: space-between !important;
    align-items: center;
  }
  .header_content #branding {
    position: relative !important;
    bottom: auto !important;
    left: auto !important;
    top: 3px !important;
  }
  body:not(.home) .header_content #branding #site-title a {
    width: 180px;
    min-width: 180px;
  }
  #content {
    padding-top: 75px;
  }
  .home #content {
    padding-top: 0;
  }
  /*------------------------------------------*\
		NAV (768px)
	\*------------------------------------------*/
  .header_slider .header_slide {
    font-size: .8em;
  }
  .header_slider .header_slide .header_slide_inner {
    flex-direction: column-reverse;
  }
  .header_slider .header_slide .header_slide_content {
    padding-bottom: 40px;
    width: 100%;
    min-width: 100%;
    padding: 3% 5.5% 3%;
  }
  .header_slider .header_slide .header_slide_content a {
    font-size: 13px;
  }
  .header_slider .header_slide .header_slide_content .post_author a {
    font-size: 16px;
  }
  .header_slider .header_slide .header_slide_content h2 {
    font-size: 16px;
  }
  .header_slider .header_slide .header_slide_content h2 a {
    font-size: 16px;
  }
  .header_slider .header_slide .header_slide_content h2 a p {
    font-size: 16px;
  }
  .header_slider .header_slide .header_slide_content .content_dek {
    padding: 10px 0 0;
  }
  .header_slider .header_slide .header_slide_content .content_dek a {
    font-weight: 400;
  }
  .header_slider .header_slide .slider_dek {
    margin-bottom: 20px !important;
  }
  .slick-slider {
    background-color: black;
  }
  .slick-slider .slick-dots {
    left: auto;
    bottom: 18px;
    right: 5.5vw;
  }
  /*------------------------------------------*\
		THREE POSTS WITH COLOR CONTENT (768px)
	\*------------------------------------------*/
  .content_dek p {
    font-size: 14px !important;
  }
  .three_posts_with_color_content {
    font-size: .9em;
  }
  .four_posts_layout .quarter_width_post {
    flex-direction: column;
  }
  .four_posts_layout .quarter_width_post .post_image_wrapper {
    width: 100%;
    min-width: 100%;
  }
  .four_posts_layout .quarter_width_post .content_and_hed {
    padding: 12px 0 0;
  }
  .four_posts_layout .quarter_width_post .content_and_hed h2 {
    margin-bottom: 5px;
  }
  .four_posts_layout .quarter_width_post.pType_page .post_thumb_hed {
    width: 100%;
    min-width: 100%;
  }
  .four_posts_layout .quarter_width_post.pType_page .post_thumb_hed .post_hed_sizer {
    padding-bottom: 137%;
  }
  /*------------------------------------------*\
		THREE VARIED POSTS (768px)
	\*------------------------------------------*/
  .three_varied_posts {
    flex-direction: column;
  }
  .three_varied_posts .varied_post {
    width: 100% !important;
    margin-bottom: 4vw;
    display: flex;
  }
  .three_varied_posts .varied_post .varied_post_image {
    width: 60%;
    min-width: 60%;
  }
  .three_varied_posts .varied_post .post_thumb_hed {
    padding: 5% 3% 2% 3%;
  }
  .three_varied_posts .varied_post:nth-child(2n + 2) {
    flex-direction: row-reverse;
  }
  .three_varied_posts .varied_post:nth-child(2n + 2) .post_thumb_hed {
    text-align: right;
  }
  /*------------------------------------------*\
		SINGLE POST LAYOUT (768px)
	\*------------------------------------------*/
  .single_post_layout {
    font-size: 10px;
    margin-bottom: 30px;
  }
  .single_post_layout .content_break_image_container, .single_post_layout .content_image_container, .single_post_layout .image_break_content_container {
    flex-direction: column;
  }
  .single_post_layout .post_image_wrapper {
    width: 100% !important;
    min-width: 100% !important;
  }
  .single_post_layout .post_thumb_hed {
    margin-top: 8px;
    width: 100% !important;
    background-color: transparent;
    padding: 0 !important;
    text-align: left !important;
  }
  .single_post_layout .post_thumb_hed .content_dek {
    margin-top: 10px !important;
    color: black;
  }
  .single_post_layout .post_thumb_hed .content_dek a p {
    color: black;
  }
  .single_post_layout .post_thumb_hed h2 {
    margin-top: 7px;
  }
  .single_post_layout .post_thumb_hed h2, .single_post_layout .post_thumb_hed h2 a, .single_post_layout .post_thumb_hed p {
    color: black;
  }
  .single_post_layout .content_break_image_container .post_thumb_hed {
    background-color: black;
    padding: 3% !important;
  }
  .single_post_layout .content_break_image_container .post_thumb_hed h2 a, .single_post_layout .content_break_image_container .post_thumb_hed .extra_content p {
    color: white;
  }
  .single_post_layout .content_break_image_container .post_thumb_hed .content_dek {
    color: white;
  }
  .single_post_layout .content_break_image_container .post_thumb_hed .content_dek a p {
    color: white;
  }
  .single_post_layout .single_post_layout_image .post_thumb_hed p {
    color: white;
  }
  /*------------------------------------------*\
		TWO POST LAYOUT (768px)
	\*------------------------------------------*/
  .two_posts_layout {
    flex-wrap: wrap;
  }
  .two_posts_layout .post_thumb_hed h3 {
    font-size: 1em;
  }
  .two_posts_layout .two_posts_layout_50_50 {
    width: 100%;
    min-width: 100%;
    margin-bottom: 30px;
  }
  /*------------------------------------------*\
		CATEGORY POSTS (768px)
	\*------------------------------------------*/
  .categories_layout .category_post {
    width: 48.5%;
  }
  .categories_layout .category_post .image_sizer {
    padding-bottom: 62%;
  }
  .categories_layout .category_post .post_thumb_hed {
    position: relative;
    bottom: auto;
    left: auto;
    width: auto;
    background-color: black;
  }
  .categories_layout .category_post:nth-child(2n + 2) {
    width: 48.5%;
  }
  .categories_layout .category_post:nth-child(2n + 2) .image_sizer {
    padding-bottom: 62%;
  }
  /*------------------------------------------*\
		SINGLE POST (768px)
	\*------------------------------------------*/
  .single-post #trending_bar {
    padding: 0 5.5vw 0;
    margin: 0 0 20px;
    display: none;
  }
  .single-post #container > .inner_content {
    flex-direction: column;
    padding: 0 5.5vw;
  }
  .single-post #content {
    width: 100%;
    padding: 0 0 0;
  }
  .single-post .pop_posts {
    display: none;
  }
  .single-post #single_header #single_header_content {
    width: 100%;
    flex-direction: column;
  }
  .single-post #single_header .featured_thumbnail_container {
    width: 100%;
  }
  .single-post #single_header .featured_thumbnail_container .featured_image_caption {
    margin-bottom: 15px;
  }
  .single-post #single_header .single_header_title_container {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .single-post #single_header .single_header_title_container h1 {
    font-size: 1.6em;
  }
  .single-post #single_header .single_header_title_container .content_dek p {
    font-size: 16px !important;
  }
  .single-post #single_content_container {
    flex-direction: column;
    padding-top: 25px;
  }
  .single-post #single_content_container #single_content {
    width: 100%;
  }
  .single-post #single_content_container #sidebar {
    padding-bottom: 30px;
  }
  .single-post #single_content_container #sidebar .social_share_container {
    display: none;
  }
  /*------------------------------------------*\
		FOOTER (768px)
	\*------------------------------------------*/
  footer#footer #footer_content {
    flex-wrap: wrap;
  }
  footer#footer #footer_content .footer_section {
    width: 48%;
  }
  footer#footer #footer_content .footer_section:last-of-type {
    width: 100%;
  }
  footer#footer #footer_content .footer_section.mobile.about_us {
    display: none;
  }
  #footer_newsletter .footer_newsletter_container .newsletter_content {
    font-size: .8em;
    padding: 0 0 0 3%;
  }
  .zergrow {
    flex-wrap: wrap;
  }
  .zergrow .zergentity {
    margin: 0 0 10px 0 !important;
    width: 30% !important;
  }
}

@media (max-width: 600px) {
  .header_content #header_right #social_icons {
    height: 20px;
  }
  .home_layout_section {
    margin-top: 4vw;
  }
  .three_squares_with_hed {
    flex-direction: column;
    margin-top: 4vw;
  }
  .three_squares_with_hed .square_post {
    width: 100%;
    flex-direction: row;
    margin-bottom: 4vw;
  }
  .three_squares_with_hed .square_post .square_post_hed {
    padding: 0 3vw;
  }
  .three_squares_with_hed .square_post .square_post_image {
    width: 40%;
    min-width: 40%;
  }
  .menu_overlay {
    width: 100%;
  }
  .header_slider .header_slide .header_slide_content {
    padding-bottom: 15%;
  }
  /*------------------------------------------*\
		THREE POSTS WITH COLOR HED (600px)
	\*------------------------------------------*/
  .three_posts_with_color_content .color_post {
    flex-direction: column-reverse !important;
  }
  .three_posts_with_color_content .color_post .square_post_hed {
    width: 100%;
    margin-top: 0;
    padding: 3% 3% 2% 3%;
  }
  .three_posts_with_color_content .color_post .square_post_image {
    width: 100%;
  }
  .three_posts_with_color_content .color_post .square_post_image .image_sizer {
    display: none;
  }
  .three_posts_with_color_content .color_post .square_post_image .post_image_container {
    position: relative;
  }
  .three_posts_with_color .placeholder_300 {
    margin: 0 auto;
  }
  /*------------------------------------------*\
		NEWSLETTER (600px)
	\*------------------------------------------*/
  #footer_newsletter .footer_newsletter_container {
    flex-direction: column;
  }
  #footer_newsletter .footer_newsletter_container .newsletter_image {
    width: 100%;
  }
  #footer_newsletter .footer_newsletter_container .newsletter_content {
    width: 100%;
    padding: 15px 0;
  }
  #footer_newsletter .footer_newsletter_container .newsletter_content h2 {
    width: 100%;
  }
  #footer_newsletter .footer_newsletter_container .newsletter_content .newsletter_dek {
    width: 100%;
  }
  /*------------------------------------------*\
		SINGLE (600px)
	\*------------------------------------------*/
  .photo_essay_container .photo_essay {
    flex-direction: column;
  }
  .photo_essay_container .photo_essay .photo_essay_image {
    width: 100%;
    min-width: 100%;
  }
  .photo_essay_container .photo_essay .photo_essay_content {
    padding: 10px 0;
    width: 100%;
  }
  /*------------------------------------------*\
		RELATED POSTS (600px)
	\*------------------------------------------*/
  .related_posts .related_posts_container {
    flex-direction: column;
  }
  .related_posts .related_posts_container .related_post {
    width: 100%;
    display: flex;
    margin-bottom: 4vw;
  }
  .related_posts .related_posts_container .related_post .post_image_wrapper {
    width: 50%;
    min-width: 50%;
  }
  .related_posts .related_posts_container .related_post .post_thumb_hed {
    padding: 3% 2% 2% 3%;
  }
  .error404 header.header {
    padding: 10vw 5vw;
  }
  .error404 header.header .search_404 {
    width: 100%;
  }
  body.author .author_info {
    flex-direction: column;
  }
  body.author .author_info .author_image_container {
    margin: 15px auto;
  }
  .zergrow .zergentity {
    width: 48% !important;
  }
  .single-post #single_content .alignleft {
    width: 100% !important;
  }
}

@media (max-width: 480px) {
  .home .content_dek p, .home .content_dek a p {
    font-size: 16px !important;
    line-height: 1.2em !important;
  }
  .header_content #branding #site-title a {
    min-width: 130px;
  }
  .header_content #branding #site-description {
    font-size: .75em;
    margin-top: 3px;
    position: absolute;
    top: 20px;
    left: 1px;
    display: none;
  }
  .three_varied_posts .varied_post {
    flex-direction: column !important;
  }
  .three_varied_posts .varied_post .varied_post_image {
    width: 100%;
    min-width: 100%;
  }
  .three_varied_posts .varied_post .post_thumb_hed {
    padding: 10px 0;
  }
  .content_block_header .block_label {
    white-space: normal;
    text-align: center;
  }
  /*------------------------------------------*\
		TWO POSTS 30 70 (480px)
	\*------------------------------------------*/
  .two_posts_layout .two_posts_layout_30_70 {
    width: 100% !important;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_0 {
    display: flex;
    margin-bottom: 5vw;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_0 .post_image_wrapper {
    width: 60%;
    min-width: 60%;
  }
  .two_posts_layout .two_posts_layout_30_70.layout_0 .post_thumb_hed {
    margin: 0;
    padding: 0 0 0 3vw;
  }
  .two_posts_layout .two_posts_layout_70_30 {
    width: 100% !important;
  }
  .two_posts_layout .two_posts_layout_70_30.layout_1 {
    display: flex;
    margin-top: 5vw;
  }
  .two_posts_layout .two_posts_layout_70_30.layout_1 .post_image_wrapper {
    width: 60%;
    min-width: 60%;
  }
  .two_posts_layout .two_posts_layout_70_30.layout_1 .post_thumb_hed {
    margin: 0;
    padding: 0 0 0 3vw;
  }
  /*------------------------------------------*\
		FOUR POSTS (480px)
	\*------------------------------------------*/
  .four_posts_layout .quarter_width_post {
    width: 100%;
    flex-direction: row;
    margin-bottom: 6vw;
  }
  .four_posts_layout .quarter_width_post .post_image_wrapper {
    width: 60%;
    min-width: 60%;
  }
  .four_posts_layout .quarter_width_post .content_and_hed {
    padding: 3vw 0 0 3vw;
  }
  .four_posts_layout .quarter_width_post:nth-child(2n + 2) {
    flex-direction: row-reverse;
  }
  .four_posts_layout .quarter_width_post:nth-child(2n + 2) .content_and_hed {
    padding: 3vw 3vw 0 0;
  }
  .four_posts_layout .quarter_width_post.pType_page .post_hed_sizer {
    display: none;
  }
  .four_posts_layout .quarter_width_post.pType_page .post_thumb_hed_content {
    padding: 10vw;
    text-align: center;
    position: relative;
  }
  /*------------------------------------------*\
		CITY LAYOUT (480px)
	\*------------------------------------------*/
  .city_layout .top_row {
    flex-direction: column;
    width: 100%;
  }
  .city_layout .top_row .top_row_left_content {
    flex-direction: column;
    width: 100%;
  }
  .city_layout .top_row .top_row_left {
    width: 100%;
  }
  .city_layout .top_row .top_row_left_content .city_image_1 {
    display: none;
  }
  .city_layout .top_row .top_row_left_content .city_title {
    width: 100%;
    text-align: left;
    margin-bottom: 15px;
  }
  .city_layout .top_row .top_row_left_content .city_title h1 {
    font-size: 1.6em;
  }
  .city_layout .top_row .top_row_left_content .city_title h2 {
    font-size: 18px;
  }
  .city_layout .top_row .top_row_left_content .city_title .city_excerpt {
    font-size: 1em;
    width: 100%;
    margin: 15px 0 0 0;
  }
  .city_layout .top_row .top_row_right {
    width: 100%;
  }
  .city_layout .bottom_row .bottom_row_content {
    width: 100%;
    flex-direction: column-reverse;
  }
  .city_layout .bottom_row .bottom_row_content .city_image_2 {
    width: 100%;
  }
  .city_layout .bottom_row .bottom_row_content .extra_content {
    width: 100%;
    margin-bottom: 15px;
  }
  /*------------------------------------------*\
		CATEGORY LAYOUT (480px)
	\*------------------------------------------*/
  .categories_layout {
    padding-bottom: 18vw;
  }
  .categories_layout .category_post .post_thumb_hed {
    padding: 10px;
  }
  .categories_layout .category_post {
    width: 100%;
    margin-bottom: 5vw;
  }
  .categories_layout .category_post:nth-child(2n + 2) {
    width: 100%;
  }
  /*------------------------------------------*\
		SINGLE (480px)
	\*------------------------------------------*/
  .single-post #single_content_container #sidebar {
    width: 100%;
  }
  .single-post #single_content_container #sidebar .related_posts {
    width: 100%;
  }
  .single-post #single_content p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  .single-post #single_content .alignleft {
    margin-left: 0;
    width: 100%;
    float: none;
  }
  /*------------------------------------------*\
		FOOTER (480px)
	\*------------------------------------------*/
  footer#footer .white_logo {
    display: none;
  }
  footer#footer #footer_content {
    flex-wrap: wrap;
  }
  footer#footer #footer_content .footer_section {
    width: 100%;
    padding: 0 0 30px 0;
  }
  footer#footer #footer_content .footer_section:last-of-type {
    width: 100%;
  }
  footer#footer #footer_content .footer_section.about_us {
    display: none;
  }
  footer#footer #footer_content .footer_section.mobile.about_us {
    display: block;
  }
  footer#footer #footer_content .footer_section.mobile.about_us .menu-footer-menu-container, footer#footer #footer_content .footer_section.mobile.about_us .footer_section_content {
    padding: 0;
  }
  footer#footer #footer_content .footer_section.mobile.about_us .menu-footer-menu-container {
    padding: 0 30px;
  }
  #footer_newsletter .footer_newsletter_container .newsletter_image {
    display: none;
  }
}

@media (max-width: 400px) {
  /*
.city_layout{
		.top_row{
			.top_row_left_content{
				.city_image_1{
					display: block;
					width: 100%;
				}
			}
		}
	}
*/
}
