/*
Theme Name: Wonderlust
Theme URI: http://fullmetalworkshop.com
Author: Full Metal Workshop LLC
Author URI: http://fullmetalworkshop.com
Description: WordPress Theme for Wonderlusttravel.com
Version: 1.0.1
License: GNU General Public License
License URI: https://www.gnu.org/licenses/gpl.html
Tags:
Text Domain: wonderlust

Wonderlust WordPress Theme © 2017 Full Metal Workshop
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{font-size:100%;font:inherit;padding:0;border:0;margin:0;vertical-align:baseline}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}.clear{clear:both}
.sticky{}.bypostauthor{}.wp-caption{}.wp-caption-text{}.gallery-caption{}.alignright{}.alignleft{}.aligncenter{}.screen-reader-text{clip:rect(1px, 1px, 1px, 1px);position:absolute !important}

@mixin transitionElement($e, $s){
	-webkit-transition: $e $s;
	-moz-transition: $e $s;
	-o-transition: $e $s;
	transition: $e $s;
}
@mixin transformElement($t){
	-webkit-transform:$t;
	-moz-transform:$t;
	-o-transform:$t;
	transform:$t;
}
.mobile, .tablet_size{
	display: none;
}
h1{
	font-size: 2em;
	font-weight: 600;
}
h2{
	font-size: 27px;
	line-height: 1em;
}
h3{
	font-size: 20px;
	line-height: 1.1em;
	font-weight: 600;
	text-transform: uppercase;
}
h4{
	font-size: 1.1em;
	line-height: 1.1em;
	font-weight: 600;
	text-transform: uppercase;
}
h6{
	font-size: 1em;
}
*{
	box-sizing: border-box;
}
html,body{
	font-family: "Helvetica Neue", "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
	font-weight: 300;
	font-size: 16px;
	background-color: rgb(222,222,222);
}
a{
	text-decoration: none;
	color: black;
	&:focus{
		outline: none;
	}
}
ol{
	list-style-type: decimal;
	padding-left: 18px;
}
p, li{
	font-weight: 400;
	line-height: 1.35em;
}
strong, b{
	font-weight: 600;
}
em, i{
	font-style: italic;
}
input{
	&:focus{
		outline: none;
	}
}
.bg_centered{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.home{
	p{
		font-size: 1em;
	}
}
.cat_label{
	font-size: 12px!important;
	text-transform: uppercase;
	font-weight: 600;
}
.inner_content{
	width: 100%;
	padding: 0 5.5%;
	margin:0 auto;
}

#wrapper{
	max-width: 1300px;
	width: 100%;
	margin:0 auto;
	background-color: white;
	#DSK_Leaderboard{
		padding: 15px 0 0;
	}
}
#container{
	background-color: white;
}


$kodak: rgb(254,240,42);
$ecru: rgb(242,237,233);

.social_share_container{
	display: flex;
	margin-top:15px;
	.social_share_button{
		display: block;
		width: 26px;
		margin-right:6px;
		img{
			width: 100%;
			height:auto;
		}
	}
}

/*------------------------------------*\
	Header
\*------------------------------------*/

header#header{
	background-color: white;
	width: 100%;
	position: relative;
}
.header_content{
	background-color: white;
	width: 100%;
	position: relative;
	z-index: 3;
	height: 7.3vw;
    max-height: 107px;
    min-height: 75px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding:0 6.1vw;
	margin:0 auto;
	max-width: 1300px;
	#branding{
		#site-title{
			padding-right:20px;
			display: inline-block;
			position: relative;
			a{
				width: 21vw;
				max-width: 286px;
				min-width: 210px;
				height:auto;
				display: inline-block;
				position: relative;
				img{
					width: 100%;
					height:auto;
				}
			}
			&:after{
				content:'';
				position: absolute;
				height:140%;
				width: 3px;
				background-color: #a8a9ad;
				top:-15%;
				right:-7px;
			}
		}
		#site-description{
			display: inline-block;
			padding-left: 3vw;
			position: relative;
			font-weight: 400;
			font-size: 1.4em;
		}
	}
	#header_right{
		position: relative;
		top:3px;
		display: flex;
		align-items: center;
		.header_right_top{

		}
		.presented_by a{
			margin-right:12px;
			display: flex;
			align-items: center;
			white-space: nowrap;
			img{
				margin-left:15px;
				width: 45px;
				max-width: 45px;
				height:auto;
			}
		}
		#social_icons{
			height:25px;
			width: auto;
			position: relative;
			.social_share_button{
				height:100%;
				width:auto;
				margin-left:5px;
				display: inline-block;
				img{
					height: 100%;
					width: auto;
				}
			}
		}
		#nav_toggle{
			width: 24px;
			height:auto;
			position: relative;
			margin-left:20px;
			cursor: pointer;
			.nav_toggle_line{
				width: 100%;
				height:2px;
				background-color: black;
				margin: 4px 0;
			}
		}
		#nav_search{
			width:23px;
			height:23px;
			position: relative;
			margin-left: 18px;
			z-index: 2;
			.close_search{
				display: none;
			}
			#nav_search_container{

				height:100%;
				width: auto;
				#search_toggle{
					width: 17px;
					display: inline-block;
					height:auto;
					position: relative;
					top:3px;
					img{
						width: 100%;
						height:auto;
					}
				}
				.searchform{
					top:calc(100% + 30px);
					right:0;
					position: absolute;
					display: none;
					margin-left: 5px;
					white-space: nowrap;
					#s{
						font-size: 15px;
						padding:5px 5px;
						width: 180px;
						position: relative;
						top:1px;
					}
					#searchsubmit{
						padding: 7px 0;
						width: 80px;
					}
				}
			}
			&.active{
				.close_search{
					display: block;
				}
				.mag_glass{
					display: none;
				}
				#nav_search_container{
					.searchform{
						display: inline-block;
					}
				}
			}
		}
	}
}

body:not(.home) .header_content{

	#branding{

		#site-title{
			a{
				width:180px;
				min-width: 180px;
			}
			&:after{
				display: none;
			}
		}
		#site-description{
			display: none;
		}
	}
}

#s{
	width: calc(100% - 95px);
	border: 1px solid black;
}
#searchsubmit{
	color: white;
	background-color: black;
	border: 0;
	-webkit-appearance: none;
	width: 95px;
	font-size: 13px;
	padding: 10px 5px;
	text-transform: uppercase;
	font-weight: 600;
}

.menu_overlay{
	position: absolute;
	background-color: white;
	width: auto;
	height:auto;
	display: none;
	top:7.3vw;
	right:90px;
	z-index: 2;
	nav#menu{
		text-align: center;
		text-transform: uppercase;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 5px 25px;
		ul{
			width: 100%;
			display: flex;
			justify-content: space-between;
			flex-direction: column;
		}
		li{
			padding: 10px 0;
			font-size: 1.1em;
			border-bottom:1px solid rgb(200,200,200);
			&:last-of-type{
				border-bottom: none;
			}
			a{
				font-weight:500;
			}

		}
	}
	.menu_overlay_content{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		height:100%;
		width: 100%;
		max-width: 1300px;
		margin:0 auto;
		.menu_overlay_bottom{
			display: none;
			justify-content: center;
			flex-direction: column;
			align-items: center;
		}
		#search{
			width: 100%;
			padding: 4vw;

		}
		#search .searchform > div{
			display: flex;
		}
		#menu_social_icons{
			height:25px;
			margin-top:10px;
			.social_share_button{
				height:100%;
				width: auto;
				margin: 0 3px;
				display: inline-block;
				img{
					height:100%;
					width: auto;
				}
			}
		}
	}
}

/*------------------------------------*\
	Homepage Slider
\*------------------------------------*/

$slideContentWidth: 28%;

.header_slider{
	width: 100%;
	h2{
		font-family: "HelveticaNeueCondensed", "HelveticaNeue-Condensed", "Helvetica Neue Condensed", "HelveticaNeueRomanCondensed", "HelveticaNeue-Roman-Condensed", "Helvetica Neue Roman Condensed", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TeXGyreHerosCnRegular', "Helvetica", "Tahoma", "Geneva", "Arial Narrow", "Arial", sans-serif;
		font-weight:600;
		text-transform: uppercase;
		font-size: 30px;
	}
	.header_slide{
		width: 100vw;
		.header_slide_inner{
			display: flex;
		}
		.header_slide_content{
			width: $slideContentWidth;
			min-width: $slideContentWidth;
			background-color: black;
			color: white;
			padding: 3vw 2%;
			//padding:45px 30px;
			-webkit-font-smoothing: antialiased;
			a{
				color: white;
			}
			.content_dek{
				line-height:24px;
				//padding:55px 97px 0 42px;
				padding:17% 25% 5% 17%;
				a{
					font-weight: 400;
				}
				.slider_dek{
					margin-bottom:40%;
					display: block;
				}
				font-size:1.1em;
			}
			h2 a{
				font-size: 30px;
				font-weight: 600;
				line-height: 1.1em;
			}
			h2 a p{
				font-size: 30px;
				font-weight: 600;
				line-height: 1.1em;
				span{
					display: inline-block;
				}
			}
		}
		.header_slide_image{
			width:100%;
			height:auto;
			position: relative;
			.header_slide_image_sizer{
				width: 100%;
				height:0;
				padding-bottom:64%;
			}
			.header_slide_image_inner{
				width: 100%;
				height:100%;
				top:0;
				left:0;
				position: absolute;
				overflow: hidden;
			}
			img{
				width: 100%;
				height:auto;
			}
		}
	}
}

/*------------------------------------*\
	Homepage Layout
\*------------------------------------*/

.homepage_layout{
	padding-bottom:50px;
	.sponsored_tag{
		font-size: 10px;
		margin-top:10px;
		text-transform: none;
		em{
			clear: both;
		}
	}
}
.image_sizer{
	width: 100%;
	height:0;
	padding-bottom:60%;
}
.post_image_container{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	overflow: hidden;
	img{
		width: 100%;
		height:auto;
		display: block;
		@include transitionElement(all, .2s);
	}
	&:hover{
		img{
			//@include transformElement(scale(1.02));
		}
	}
}
.three_posts_with_color_content{
	.color_post{
		.square_post_image{
			.post_image_container {
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
.post_image_wrapper{
	position: relative;
}
.post_author{
    font-weight: 400;
    font-size: 16px;
    display: block;
    position: relative;
}
.post_thumb_hed{
	text-transform: uppercase;
	font-weight: 600;
	line-height: 1em;
	-webkit-font-smoothing: antialiased;
	position: relative;
	.hotel_name{
		position: absolute;
		bottom:4%;
		left:6%;
		font-size: 13px;
	}
	.extra_content{
		position: absolute;
		bottom:5%;
		width: 87%;
		p{
			strong{
				font-size: 1.1em;
			}
		}
	}
	.content_dek{
		text-transform: none;
	}
	h3 p{
		font-weight: 600;
		font-size: 1em;
	}
}

.home_layout_section{
	margin-top:54px;
	h2{
		font-size: 1.3em;
		line-height: 1em;
	}
}
// THREE SQUARES WITH HED
.three_squares_with_hed{
	display: flex;
	justify-content: space-between;
	.square_post{
		display: flex;
		align-items: flex-start;
		width: 31%;
		.square_post_image{
			width: 65%;
			min-width: 65%;
			height:auto;
			position: relative;
			.image_sizer{
				padding-bottom:100%;
			}
/*
			.image_sizer{
				padding-bottom:90%;
			}
*/
		}
		.square_post_hed{
			padding: 3px 0 0 15px;
			width: 35%;
			h2 a p{
				font-size: 1em;
				font-weight: 600;
				line-height: 1.1em;
				text-transform: none;
				span{
					display: inline-block;
				}
			}
		}
		.post_image_container{

		}
		.content_dek {
			margin-top: 16px;
		}
	}
}
// THREE COLOR POSTS
.three_posts_with_color{
	display: flex;
	align-items: flex-start;
	.placeholder_300{
		width: 300px;
		text-align: center;
		height:auto;
		padding: 0;
		img{
			width: 100%;
			height:auto;
		}
	}
}
.three_posts_with_color_content{
	width: calc(100% - 300px);
	padding-right:50px;
	.color_post{
		display: flex;
		margin-bottom:34px;
		justify-content: space-between;
		.square_post_hed{
			width: 32%;
			min-width: 32%;
			padding: 5% 3% 3% 3%;
			background-color: $kodak;
			color: black;
			h2{
				font-size: 1.5em;
				font-weight: 600;
			}
			p{
				padding-bottom:20px;
				font-weight:600;
				font-size: 1em;
				line-height: 1em;
				span{
					display: inline-block;
				}
			}
			h2 p{
				padding-bottom: 0;
			}
			br{
				line-height: 2.8em;
			}
			.content_dek{
				margin-top:30px;
				font-weight: 500;
				line-height: 1.2em;
				padding-right:5px;
				p{
					font-size: 15px;
					font-weight: 400;
					line-height: 1.2em;
				}
			}
		}
		.square_post_image{
			width: calc(68% - 33px);
			min-width: calc(68% - 33px);
			position: relative;
			.image_sizer{
				padding-bottom: 70%;
			}
		}
		&:nth-child(3n + 3){
			.square_post_hed{
				background-color: blue;
				a{
					color: white;
				}
			}
		}
		&:nth-child(2n + 2){
			flex-direction: row-reverse;
			.square_post_hed{
				background-color: red;
				color: white;
				a{
					color: white;
				}
			}
		}
	}
}

.four_posts_layout{
	display: flex;
	justify-content: space-between;
	padding-top:45px;
	padding-bottom:4vw;
	.quarter_width_post{
		width: calc(25% - 10px);
		min-width: calc(25% - 10px);
		position: relative;
		h2{
			font-size: 1em;
			a{
				font-size: 1em;
				p{
					font-size: 1em;
				}
			}
		}

		.image_sizer{
			padding-bottom: 137%;
		}
		&.pType_post{
			.post_thumb_hed{
				position: absolute;
				bottom: calc(100% + 10px);
				left:0;
			}
			.content_dek{
				p{
					font-size: 1em;
				}
			}
		}
		&.pType_page{
			.post_thumb_hed{
				position: relative;
				background-color: black;
				background-color: black;
				h2 a{
					font-size: 1.5em;
					color: white;
					line-height: 24px;
				}
				p{
					color: white;
					text-transform: none;
					font-size: 1.1em;
				}
			}
			.content_dek{
				margin-top:26px;
			}
			.post_hed_sizer{
				height: 0;
				padding-bottom:137%;
				a{
					position: absolute;
					top:0;
					left:0;
					width: 100%;
					height:100%;
					color: white;
					padding:22% 22% 10% 10%;
				}
			}
			.post_thumb_hed_content{
				position: absolute;
				width: 100%;
				height:100%;
				top:0;
				left:0;
				padding:22% 22% 10% 10%;
			}
		}
	}
}

/*------------------------------------*\
	Category Posts
\*------------------------------------*/

.categories_layout{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom:5vw;
	.category_post{
		width: 30%;
		position: relative;
		margin-top: 3vw;
		.cat_header_label{
			margin-bottom:10px;
		}
		.post_thumb_hed{
			padding:1.5vw 1.3vw;
			position: absolute;
			bottom:15px;
			left:0;
			width: 200px;
			max-width: 100%;
			background-color: rgba(0,0,0,.5);
			.content_dek{
				margin-top:5px;
				font-size: 1.1em;
			}
			h2 a, h2 a p{
				color: white;
				font-weight: 600;
			}
			a p{
				color: white;
			}
		}
		.category_post_image{
			position: relative;
		}
		.image_sizer{
			padding-bottom:136%;
		}
		&:nth-child(2n + 2){
			width: 68%;
			.image_sizer{
				padding-bottom:60%;
			}
		}
	}
}

/*------------------------------------*\
	Homepage Content Boxes
\*------------------------------------*/

.content_block_header{
	padding: 24px 0 30px;
	display: flex;
	align-items: center;
	.block_line{
		width: 100%;
		height:1px;
		background-color: black;
	}
	.block_label{
		font-weight: 500;
		white-space: nowrap;
		text-transform: uppercase;
		padding:0 22px;
		letter-spacing: 3px;
		font-size: 1.1em;
	}
}
.home_content_block{

}
.ad_block{
	width: 100%;
	padding: 10px 0 20px;
	.banner_ad_970{
		width: 970px;
		margin:0 auto;
		text-align: center;
		#gradient{
			height:auto;
		}
		img{
		}
	}
	.banner_ad_300{
		width: 300px;
		margin:0 auto;
		img{
			width: 100%;
			height:auto;
		}
	}
}

// SINGLE POST LAYOUT

.caption_text{

}

.content_block_section{
	margin-bottom:3.5vw;
	display: flex;
	justify-content: space-between;
}
.post_video{
	width: 100%;
	min-width: 100%;
}
.single_post_layout{
	width: 100%;
	display: block;
	.post_image_wrapper{
		width: calc(68% - 30px);
		min-width: calc(68% - 30px);
	}
	.post_thumb_hed{
		width: 32%;
		min-width: 32%;
		background-color: black;
		color: white;
		text-transform: none;
		padding: 5% 7% 2% 2%;
		h2{
			text-transform: uppercase;
			font-size: 1.6em;
			a{
				color: white;
				p{
					font-weight: 600;
				}
			}
		}
		.content_dek{
			margin-top:37px;
			p{
				color: white;
				font-size: 1.2em;
				line-height:1.3em;
			}
		}
	}
	.image_sizer{
		//padding-bottom:70%;
		display: none;
	}
	.post_image_container{
		position: relative;
		width: 100%;
		height:auto;
	}
	.content_break_image_container{
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-between;
		.post_thumb_hed{
			padding-right: 7%;
			h2{
				font-size: 1.6em;
			}
			.content_dek{
				margin-top:36px;
			}
		}
	}
	.image_break_content_container{
		display: flex;
		justify-content: space-between;
	}
	.content_image_container{
		display: flex;
		flex-direction: row-reverse;
		.post_thumb_hed{
			width: 24%;
			min-width: 24%;
			padding-right: 70px;
			h2{
				font-size: 1.6em;
			}
		}
		.post_image_wrapper{
			width: 76%;
			min-width: 76%;
			.image_sizer{
				padding-bottom:53%;
			}
		}
	}
	&.white_bg{
		.post_thumb_hed{
			background-color: white;
			text-align: right;
			padding-right: 2%;
			padding-left:3%;
			a, p{
				color: black;
			}
			.hotel_name{
				color: black;
				right:6%;
				left:auto;
			}
		}
	}
	// FULL WIDTH SINGLE POST
	.full_width_image_container{
		.post_image_wrapper{
			width: 100%;
			min-width: 100%;
		}
		.post_image_container{
			position: absolute;
			height:100%;
		}
		.post_thumb_hed{
			width: 100%;
			min-width: 100%;
			background-color: transparent;
			color: black;
			padding: 15px 0;
			a, p{
				color: black;
			}
			h2, .content_dek{
				display: inline-block;
				margin-top:0;
			}
		}
		.image_sizer{
			padding-bottom:50%;
			display: block;
		}
	}
}

// 3 VARIED POSTS

.three_varied_posts{
	.varied_post{
		width: 29%;
		h3{
			font-size: 1.3em;
		}
		p{
			font-size: 1.1em;
		}
		.image_sizer{
			padding-bottom:72%;
		}
		.post_thumb_hed{
			padding-top:7px;
		}
		&:nth-child(2n + 2){
			width: 37%;
			.image_sizer{
				padding-bottom:56.5%;
			}
		}
	}
}

// TWO POSTS LAYOUT

.two_posts_layout{
	.post_thumb_hed{
		margin-top:15px;
		padding-right: 25px;
		h3{
			font-size: 1.1em;
		}
	}
	.content_dek{
		font-weight: 400;
		font-size: 16px;
		margin-top:8px;
		line-height: 1.1em;
	}
	.two_posts_layout_50_50{
		width: 48.4%;
		min-width: 48.4%;
		.image_sizer{
			padding-bottom:62%;
		}
	}
	.two_posts_layout_70_30{
		&.layout_0{
			width: 65.5%;
			min-width: 65.5%;
			.image_sizer{
				padding-bottom:70%;
			}
		}
		&.layout_1{
			width: 30.5%;
			min-width: 30.5%;
			.image_sizer{
				padding-bottom:150.2%;
			}
		}
	}
	.two_posts_layout_30_70{
		position: relative;
		a{
			color: white;
		}
		h3{
			font-size: 1.3em;
			margin-right:10px;
		}
		.post_thumb_hed{
			.content_dek{
				line-height: 1.2em;
			}
		}
		&.layout_0{
			width: 29.5%;
			min-width: 29.5%;
			.image_sizer{
				padding-bottom:117.2%;
			}
			.post_thumb_hed{
				background-color: rgba(0,0,0,.5);
				color: white;
				position: absolute;
				//width: auto;
				width: 95%;
				left:2.5%;
				bottom:10px;
				padding: 5px 8px;
				.content_dek{
					margin-top:5px;
				}
			}
		}
		&.layout_1{
			display: flex;
			flex-direction: row-reverse;
			width: calc(70.5% - 20px);
			min-width: calc(70.5% - 20px);
			.image_sizer{
				padding-bottom:70%;
			}
			.post_image_wrapper{
				width: 70%;
				min-width: 70%;
			}
			.post_thumb_hed{
				width: 30%;
				min-width: 30%;
				background-color: black;
				color: white;
				padding: 5% 2.5% 2%;
				margin-top:0;
				h3{
					padding-right: 30px;
				}
				.content_dek{
					margin-top:17px;
				}
			}
		}
	}
	.yellow_bg{
		background-color: $kodak;
		padding:14px 20px;
		margin-top:0;
		h3, .content_dek{
			display: inline-block;
		}
	}
}

/*------------------------------------*\
	City layout
\*------------------------------------*/

.city_layout{
	background-color: $ecru;
	padding-top: 2vw;
	.top_row{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		.top_row_left, .top_row_right{
			width: 50%;
			min-width: 50%;
			img{
				width: 100%;
				height:auto;
			}
		}
		.top_row_right{
			width: 48.5%;
			min-width: 48.5%;
		}
		.top_row_left_content{
			height:60%;
			display: flex;
			justify-content: space-between;
			.city_title{
				width: 62%;
				min-width: 62%;
				text-align: right;
				h1 a{
					color: blue;
					text-transform: uppercase;
				}
				h2 a{
					font-weight: 600;
					text-transform: uppercase;
				}
				.city_excerpt{
					margin-top:15px;
					width:65%;
					margin-left: 35%;
					a{
						font-size: 1.2em;
						font-weight: 400;
					}
				}
			}
			.city_image_1{
				width: 35%;
				height:auto;
				img{
					width: 100%;
					height:auto;
				}
			}
		}
	}
	.bottom_row{
		display: flex;
		justify-content: flex-end;
		.bottom_row_content{
			width: 67.5%;
			min-width: 67.5%;
			display: flex;
			margin-top:12px;
			justify-content: space-between;
			.city_image_2{
				width: 40%;
				min-width: 40%;
				img{
					width: 100%;
					height:auto;
				}
			}
			.extra_content{
				width: 57.5%;
				min-width: 57.5%;
				strong{
					margin-bottom:10px;
					display: inline-block;
				}
			}
		}
	}
}

/*------------------------------------*\
	Single
\*------------------------------------*/

.single-post{
	#container{
		.inner_content{
			padding: 0 10.5vw;
		}
	}
	#trending_bar{
		visibility: hidden;
		width:100%;
		padding: 0 6.35vw 0;
		position: relative;
		text-align: right;
		margin: 20px 0 30px;
		#trending_bar_content{
			strong{
				margin-right:8px;
			}
			background-color: $kodak;
			color: black;
			border-radius: 8px;
			padding:12px 30px;
			font-size: 14px;
			display: inline-block;
			font-weight: 500;
			text-align: left;
			line-height: 1.3em;
		}
	}
	#single_header{
		.sponsored_tag{
			font-size: 14px;
			margin-bottom:5px;
			position: absolute;
			top:30px;
			p{
				padding-bottom: 0!important;
			}
		}
		width: 100%;
		#single_header_content{
			display: flex;
			justify-content: space-between;
			width:100%;
		}
		.featured_thumbnail_container{
			width: calc(100% - 340px);
			min-width: calc(100% - 340px);
			.featured_thumbnail_content{
				position: relative;
			}
			.featured_image_caption{
				padding: 10px 0 0;
				color: black;
				font-size: 12px;
				font-weight: 600;
			}
			.image_sizer{
				height:0;
				padding-bottom:60%;
			}
			.featured_thumbnail{
				position: absolute;
				width: 100%;
				height:100%;
				left:0;
				top:0;
			}
			img{
				width: 100%;
				height:auto;
			}
		}
		.single_header_title_container{
			display: flex;
			align-items: center;
			width: 60%;
			padding: 0 30px;
			position: relative;
		}
		.single_header_title{
			width: 100%;
			.social_share_container{
				margin-top:0;
				margin-bottom: 30px;
			}
			margin-top: 1.5vw;
			h1{
				text-transform: uppercase;
				font-weight: 600;
				line-height: 1em;
				font-size: 1.4em;
			}
			p{

			}
			h1 span, h1 p{
				font-size: 1em;
				font-weight: 600;
				padding-bottom: 0;
			}
			.content_dek{
				margin-top:5px;
				text-transform: none;
				font-size: 1em;
				line-height: 1.4em;
				font-weight: 400;

			}
			.single_ad_tags{
				p{
					padding:0;
					width:0;
					height:0;
				}
			}
			.post_author{
				font-size: 13px;
				font-weight:400;
				margin-top:20px;
			}
		}

		&.port_img{
			.image_sizer{
				padding-bottom: 125%;
			}
			#single_header_content{
				padding-left: 30%;
			}
		}
	}
	#single_content_container{
		padding-top:43px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		.extra_content{
			margin-top:30px;
		}
		.footer{
			padding-top:30px;
		}
		#sidebar{
			width: 300px;
			min-width: 300px;
			.social_share_container{
				margin-top:0;
				margin-bottom:15px;
				&:before{
					content:'SHARE IT';
					display: flex;
					align-items:center;
					font-size: 14px;
					font-weight: 500;
					padding-right:12px;
				}
			}
			.widget-container{
				margin-bottom:30px;
			}
			.caption_text{
				width: 80%;
				float: right;
				font-size: 12px;
				text-align: left;
				margin-top: 5px;
			}
		}
	}
	#single_content{
		width: calc(100% - 340px);
		min-width: calc(100% - 340px);
		padding: 0 0 40px 0;
		hr{
			border: none;
		}
		.wp-caption{
			width: auto;
			max-width: 100%!important;
			position: relative;
			img{
				max-width: 100%!important;
				height:auto;
			}
		}
		img{
			max-width: 100%!important;
			height:auto;
		}
		p{
			iframe{
				max-width: 100%;
			}
			font-size: 14px;
			img{
				max-width: 100%;
				height:auto;
				display: block;
				&.aligncenter{
					position: relative;
					display: block;
					margin:0 auto;
				}
				&.alignnone.size-full{
					width: 100%;
					height:auto;
				}
				&.alignright{
					margin: 0 0 10px 15px;
					float: right;
				}
			}
		}
		.alignleft{
			float: left;
			width: 50%!important;
			margin: 0 15px 10px -40px;
			img{
				width: 100%;
				height:auto;
				display: block;
			}
			.wp-caption-text{
				padding: 10px 0;
				color: black;
				font-size: 12px;
				font-weight: 600;
			}
		}
		.aligncenter, .alignnone{
			.wp-caption-text{
				font-weight: 600;
				margin-top:10px;
				font-size: 12px;
			}
		}
		.post_author{
			margin-top: 15px;
			text-align: right;
			font-weight: 600;
			font-size: 1em;
		}
		.social_share_container{
			margin-top:45px;
		}
	}
	#container > .inner_content{
		.entry-content{
			padding-right:50px;
			img{
				width: 100%;
				height:auto;
			}
		}
	}
	#content{
		padding: 0 0 4vw;
		width: 100%;
	}

	&.post-type-photo-essay{
		#container{
			background-color: black;
			color: white;
			margin-top:20px;
		}
		#single_header{
			.single_header_title_container{
				width:100%;
				padding:30px 0 0 0;
			}
		}
		#single_content{
			width: 100%;
			min-width: 100%;
		}
		#single_content_container{
			padding-top:0;
		}
		.single_content_text{
			width: 75%;
		}
		#content{
			width: 100%;
		}
		#trending_bar{
			right:0;
		}
	}
}

.wp-caption, .featured_thumbnail_container{
	&.has_photo_credit{
		.wp-caption-text, .featured_image_caption{
			padding-top:0!important;
		}
	}
}
.photo_credit{
	text-align: left;
	padding: 3px 0;
	font-size: 11px!important;
	color: rgb(120,120,120)!important;
}

.pop_posts{
	width: 300px;
	position: relative;
	margin-bottom:40px;
	h3{
		color: white;
		font-size: 15px;
		background-color: red;
		padding: 10px 15px;
	}
	.pop_posts_container{
		padding: 15px 0;
		.pop_post{
			padding: 8px 0;
			border-bottom: 1px solid rgba(0,0,0,.2);
			p{
				span{
					font-weight: 600;
					text-transform: uppercase;
				}
				text-transform: none;
				font-weight: 400;
				text-transform: none;
				font-size: 12px;
			}
			h5 p{
				font-weight: 600;
				text-transform: uppercase;
				font-size: 13px;
			}
		}
		.pop_post:last-of-type{
			border-bottom: none;
		}
	}
}

#sidebar{
	.wl_sidebar_ad{
		margin-bottom:35px;
		text-align: center;
	}
	.related_posts{
		width: 300px;
		min-width: 300px;
		h3{
			color: white;
			font-size: 15px;
			background-color: red;
			padding: 10px 15px;
			margin-bottom:20px;
		}
		.related_posts_container{
			display: flex;
			flex-direction: column;
			.related_post{
				width: 100%;
				display: flex;
				margin:5px 0;
				padding: 0 0 8px 0;
				align-items: flex-start;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				.post_thumb_hed{
					padding: 0;
					font-size: .9em;
					p{
						text-transform: none;
						padding-top:4px;
					}
					h4{
						font-size: 14px;
						p{
							text-transform: uppercase;
							font-weight: 600;
							font-size: 14px;
							span{
								text-transform: uppercase;
								font-weight: 600;
								font-size: 14px;
							}
						}
					}
				}
			}
			.related_post.last_post{
				border-bottom: none!important;
			}
			.post_image_wrapper{
				position: relative;
				text-align: right;
				margin-top:20px;
				img{
					width: 80%;
					height:auto;
				}
			}
		}
	}
}

// TOP LIST

.top_list_container{
	.top_list{
		li{
			margin-bottom:5vw;
			.top_list_title{
				text-transform: uppercase;
				font-weight: 600;
				margin-bottom:10px;
			}
			img{
				width: 100%;
				height:auto;
				margin-bottom:15px;
			}
		}
	}
}

// PHOTO ESSAY

.post-type-photo-essay{
	#content{
		padding-right: 0;
	}
	#single_content{
		padding-top:0;
	}
	.cat_label{
		color: red;
	}
	.single_post_author{
		//padding-top:10px;
		a{
			color: white;
		}
	}
}
.getty.embed.image{
	background-color: transparent!important;
}
.photo_essay_container{
	.photo_essay{
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding:4vw 0 2vw;
		border-bottom: 1px solid rgba(255,255,255,.3);
		.photo_essay_image{
			width: 75%;
			min-width: 75%;
			img{
				width: 100%;
				height:auto;
				display: block;
			}
		}
		.photo_essay_content{
			width: 25%;
			min-width: 25%;
			padding-left: 4%;
			h3{
				font-weight: 500;
				text-transform: uppercase;
				margin-bottom:5px;
				line-height: 1.2em;
				font-size: 17px;
			}
		}
		&:last-of-type{
			border-bottom: 0;
		}
	}
}

.related_posts{
	h3{
		text-transform: uppercase;
		font-weight: 600;
		margin-bottom:10px;
	}
	.related_posts_container{
		width: 100%;
		display: flex;
		justify-content: space-between;
		.related_post{
			width: 32%;
			height:auto;
			position: relative;
			.image_sizer{
				padding-bottom:66%;
			}
			.post_thumb_hed{
				padding-top:10px;
				h4{
					font-size: 14px;
				}
				span{
					text-transform: none;
					font-weight: 400;
					font-size: 14px;
				}
			}
			.content_dek{
				margin-top: 5px;
				text-transform: none;
				font-weight: 400;
				font-size: 14px;
			}
		}
	}
	&.author_posts{
		padding: 6vw 0;
		h2{
			font-size: 1.4em;
			margin-bottom: 10px;
			text-transform: uppercase;
			font-weight: 600;
			span{
				font-weight: 400;
			}
		}
	}
}

/*------------------------------------*\
	Page
\*------------------------------------*/

.page{
	.entry-title{
		font-weight: 600;
		text-transform: uppercase;
	}
	&:not(.home) #content{
		padding:4vw 0;
	}
	.single_page{
		padding: 5vw 0;
		header{
			margin-bottom:3vw;
		}
	}
}

/*------------------------------------*\
	Search
\*------------------------------------*/

.search-results{
	.search_inner{
		padding: 3vw 5.5vw;
		article{
			padding: 15px 0;
			border-bottom: 1px solid rgb(200,200,200);
		}
		.entry-title{
			font-weight: 600;
			text-transform: uppercase;
			font-size: 1.4em;
		}
	}
	#nav-below{
		padding:15px 0;
		font-weight: 600;
		text-transform: uppercase;

	}
}

/*------------------------------------*\
	Category Landing
\*------------------------------------*/

.category_inner{
	padding: 3vw 10.5vw;
	article{
		padding: 15px 0;
		border-bottom: 1px solid rgb(200,200,200);
	}
	.entry-title{
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.4em;
	}
}
#nav-below{
	padding:15px 0;
	font-weight: 600;
	text-transform: uppercase;

}

/*------------------------------------*\
	Slick
\*------------------------------------*/

.slick-slider{
	width: 100%;
	.slick-list{
		width: 100%;
	}
	.slick-dots {
	    position: absolute;
	    list-style: none;
	    display: inline-block;
	    text-align: center;
	    padding: 0;
	    left:45px;
	    bottom:32px;
	    li {
		    position: relative;
		    display: inline-block;
		    height: 20px;
		    width: 20px;
		    margin-right:3px;
		    padding: 0;
		    cursor: pointer;
		    button {
			    border: 0;
			    background: transparent;
			    display: block;
			    height: 20px;
			    width: 20px;
			    outline: none;
			    line-height: 0;
			    font-size: 0;
			    color: transparent;
			    padding: 5px;
			    cursor: pointer;
			    &:hover, &:focus{
				    outline:none;
				    &:before{
					    opacity: 1;
				    }
			    }
			    &:before{
				    position: absolute;
				    top: 0;
				    left: 0;
				    content: "•";
				    width: 20px;
				    height: 20px;
				    font-family: "slick";
				    font-size: 28px;
				    line-height: 5px;
				    text-align: center;
				    color: rgb(214,214,214);
				    -webkit-font-smoothing: antialiased;
				    -moz-osx-font-smoothing: grayscale;
				    display: flex;
				    justify-content: center;
				    align-items: center;
			    }
			}
			&.slick-active{
				button:before{
					color: red;
					text-shadow: 0px 0px 4px rgba(0,0,0,.8);
				}
			}
		}
	}
}

/*------------------------------------*\
	Footer
\*------------------------------------*/

.zerghead{
	padding: 20px 5.5vw 1.5vw 5.5vw;
}
.zergrow{
	display: flex;
	justify-content: space-between;
	padding: .5vw 5.5vw 1.5vw 5.5vw;
	.zergentity{
		margin: 0!important;
		width: 15%!important;
	}
}
#footer_newsletter{
	background-color: $ecru;
	padding: 35px;
	.footer_newsletter_container{
		max-width: 900px;
		margin:0 auto;
		display: flex;
		.newsletter_content{
			padding: 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			h2{
				font-weight: 600;
				width: 235px;
				font-size: 1.7em;
				text-transform: uppercase;
			}
			.signup_container{
				margin-top:4vw;
			}
		}
		.newsletter_dek{
			width: 300px;
			margin-top:15px;
		}
		.newsletter_cta{
			text-transform: uppercase;
		    margin-bottom: 18px;
		    font-weight: 600;
		    font-size: 1.3em;
		}
		.newsletter_email{
			padding: 10px;
			width: calc(100% - 95px);
			border:none;
			box-shadow: 0 0 3px rgba(0,0,0,.1);
			float:left;
		}
		.newsletter_submit{
			-webkit-appearance: none;
			-moz-appearance: none;
			background-color: black;
			color: white;
			text-transform: uppercase;
			padding:8px 15px 9px 15px;
			float:left;
			border: none;
			outline: none;
			font-weight: 600;
			font-size: 13px;
			width: 95px;
		}
		.newsletter_image{
			width: 55%;
			height:auto;
			img{
				width: 100%;
				height:auto;
			}
		}
	}
}
footer#footer{
	background-color: black;
	color: white;
	.inner_content{
		width: 88%;
	}
	#footer_content{
		padding:7% 0 10px;
		display: flex;
		justify-content: space-between;
		.footer_section{
			color: white;
			width: 30%;
			padding: 20px 0;
			.footer_section_content{
				padding: 17px 0;
				.menu-footer-menu-container{
					padding: 23px 0;
					li{
						padding: 10px 0;
						a{
							color: white;
							font-size: 13px;
						}
					}
				}
			}
			.white_logo{
				width: 60%;
				height:auto;
			}
			h6{
				font-weight: 500;
				border-bottom: 1px solid rgba(255,255,255,.3);
				padding-bottom:10px;
				font-size: 14px;
			}
		}
	}
	.press_play_container{
		width: 100%;
		.press_play{
			width: 100%;
			height:auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom:20px;
			position: relative;
			&:not(:last-of-type):after{
				content:'';
				position: absolute;
				width:calc(75% - 15px);
				height:1px;
				background-color: rgba(255,255,255,.3);
				bottom:-7px;
				right:0;
			}
			.press_play_image_container{
				width:25%;
				min-width: 25%;
				height:auto;
				position: relative;
				.image_sizer{
					width: 100%;
					height:0;
					padding-bottom:90%;
				}
				.press_play_image{
					width: 100%;
					height:100%;
					position: absolute;
					top:0;
					left:0;
				}
			}
			.press_play_hed{
				display: flex;
				align-items: center;
				padding-left:15px;
				width:75%;
				min-width:75%;
				p, a{
					color: white;
					font-size: 14px;
					font-weight:200;
				}
			}
		}
	}
	#copyright{
		width: 100%;
		padding: 10px 40px;
		text-align: center;
		font-size: 11px;
		a{
			color: white;
			text-decoration: underline;
		}
	}
}

.error404{
	header.header{
		background-color:rgb(200,200,200);
		padding: 10vw;
		text-align: center;
		.entry-title{
			text-transform: uppercase;
		}
		.search_404{
			width: 60%;
			margin:3vw auto 0;
			& > p{
				text-transform: uppercase;
				margin-bottom:15px;
				font-weight: 600;
			}

			.searchform > div{
				display: flex;
			}
		}
	}
	.related_posts{
		padding: 5vw 0;
	}
}

body.author{
	#container{
		max-width: 100%;
	}
	header.header{
		background-color:rgb(235,235,235);
		padding: 5vw 0;
	}
	.author_info{
		display: flex;
		margin-top:2vw;
		.author_description{
			p{
				padding-bottom:30px;
			}
		}
		.author_image_container{
			width: 150px;
			min-width:150px;
			max-width: 150px;
			height:150px;
			position: relative;
			margin-right:2vw;
			.image_sizer{
				padding-bottom:100%;
			}
			.author_image{
				width: 100%;
				height:100%;
				position: absolute;
				top:0;
				left:0;
				border-radius: 50%;
			}
		}
	}
}


@media (max-width: 1280px){
	html, body{
		font-size: 14px;
	}
	.header_slide_content{
		.content_dek{
			p{
				font-size: 16px;
			}
		}
	}
	.header_content{
		padding: 0 7.8vw;
	}
	.single-post{
		#trending_bar{
			padding: 0 8.2vw 0;
		}
	}

}

@media (max-width: 1150px){
	html, body{
		font-size: 13px;
	}
	.single-post{
		#single_content{
			p{
				font-size: 1em;
			}
		}
	}
}

@media (max-width: 1024px){

	html, body{
		font-size: 14px;
	}

	.header_content #branding #site-description{
		font-size: 1.2em;;
	}

	/*---------------------------------------*\
		Three Square Posts Max-width: 1024
	\*---------------------------------------*/

	.three_squares_with_hed{
		.square_post{
			flex-direction: column;
			.square_post_image{
				width: 100%;
			}
			.square_post_hed{
				padding: 0;
				margin-top:10px;
				width: 100%;
			}
		}
	}

	/*---------------------------------------*\
		Three Posts Colored Content
	\*---------------------------------------*/

	// WIDE LAYOUT
	.three_posts_with_color{
		flex-direction: column;
		.three_posts_with_color_content{
			width: 100%;
			padding-right:0;
		}
	}

	footer#footer{
		.inner_content{
			width: 100%;
			padding: 0 5%;
			#footer_content{
				padding: 7% 0 10px
			}
		}
	}

	.single-post{
		#single_header{
			.sponsored_tag{
				margin-bottom:15px;
				position: relative;
				top:auto;
			}
		}
	}
}

@media (max-width: 900px){

	.header_content{
		#branding{
			display: flex;
			flex-direction: column;
			#site-title{
				&:after{
					display: none;
				}
			}
			#site-description{
				padding-left: 0;
				margin-top:5px;
			}
		}
	}

	.tablet_size{
		display: block;
	}

	.header_slider{
		font-size: .8em;
		.header_slide{
			.header_slide_content{
				.content_dek{
					padding: 17% 5% 5% 1%;
					.slider_dek{
						margin-bottom:15%;
					}
				}
			}
		}
	}

	/*------------------------------------------*\
		SINGLE POST LAYOUT (900px)
	\*------------------------------------------*/

	.single_post_layout{
		font-size: .9em;
	}

	/*------------------------------------------*\
		TWO POST LAYOUT (900px)
	\*------------------------------------------*/

	.two_posts_layout{
		.two_posts_layout_30_70{
			&.layout_0{
				width: 36.5%;
				min-width: 36.5%;
				.post_thumb_hed{
					width: 100%;
					position: relative;
					left:auto;
					bottom:auto;
					margin-top:5px;
					background-color: transparent;
					color: black;
					padding:0;
					flex-direction: column;
					.content_dek{
						margin:0;
					}
					a{
						color: black;
					}
				}
			}
			&.layout_1{
				flex-direction: column;
				width: calc(63.5% - 20px);
				min-width: calc(63.5% - 20px);
				.post_image_wrapper{
					width: 100%;
					min-width: 100%;
				}
				.post_thumb_hed{
					width: 100%;
					padding:0;
					margin-top:5px;
					background-color: transparent;
					.content_dek{
						margin-top:0;
					}
					a{
						color: black;
					}
				}
			}
		}
	}

	/*------------------------------------------*\
		FOUR POST LAYOUT (900px)
	\*------------------------------------------*/

	.four_posts_layout{
		flex-wrap: wrap;
		padding-top:0;
		.quarter_width_post{
			width: 48%;
			min-width: 48%;
			display: flex;
			margin-bottom:4vw;
			.post_thumb_hed{
				display: none;
			}
			.post_image_wrapper{
				width: 60%;
				min-width: 60%;
			}
			.content_and_hed{
				padding: 0 3% 0 10px;
				h2{
					text-transform: uppercase;
					font-weight: 600;
					margin-bottom:15px;
				}
			}
			&.pType_page{
				.post_thumb_hed{
					display: block;
					width: calc(100% - 30px);
					.post_hed_sizer{
						width: 100%;
						height:auto;
						padding-bottom:0;
					}
				}
			}
			.post_thumb_hed_content{
				position: relative;
			}
		}
	}

	/*------------------------------------------*\
		CITY LAYOUT (900px)
	\*------------------------------------------*/

	.city_layout{
		p, .city_excerpt{
			font-size: 1em;
		}
		.top_row{
			.top_row_left{
			}
			.top_row_left_content{
				.city_title{
					h1{
						font-size: 1.6em;
					}
					h2{
						font-size: 18px;
					}
					.city_excerpt{
						font-size: 1em;
						width: 100%;
						margin: 15px 0 0 0;
					}
				}
			}
		}
	}
}

@media (max-width: 768px){

	#container{
		padding-top:80px;
	}
	.post_thumb_hed{
		.extra_content{
			position: relative;
			bottom:auto;
			left:auto;
			margin-top:10px;
		}
		.hotel_name{
			position: relative;
			left:auto;
			right:auto!important;
			bottom:auto;
			color: black;
			margin-top:10px;
		}
	}
	.mobile{
		display: block;
	}
	.mobile_leaderboard{
		margin:0 auto;
	}
	header#header{
		position: fixed;
		top:0;
		left:0;
		z-index: 2;
		width: 100%;
		#header_right{
			.presented_by a{
				flex-direction: row;
				font-size: .9em;
				img{
					width: 25px;
					max-width: 25px;
					margin-top:0;
				}
			}
		}
	}

	#wrapper #DSK_Leaderboard{
		padding-top: 0;
		position: relative;
		top:75px;
	}

	#nav_search{
		display: none;
	}
	.menu_overlay{
		height:calc(100vh - 75px);
		top:75px;
		right:0;
		nav#menu ul{
			flex-direction: column;
		}
		.menu_overlay_content .menu_overlay_bottom{
			display: flex;
		}
	}
	.header_content{
		padding: 0 5.5%;
		position: relative;
		z-index: 3;
		justify-content: space-between!important;
		align-items: center;
		#branding{
			position: relative!important;
			bottom:auto!important;
			left:auto!important;
			top:3px!important;
		}
	}
	body:not(.home) .header_content #branding #site-title a{
		width: 240px;
		min-width: 240px;
	}
	#content{
		padding-top:75px;
	}
	.home #content{
		padding-top:0;
	}
	/*------------------------------------------*\
		NAV (768px)
	\*------------------------------------------*/

	.header_slider{
		.header_slide{
			font-size: .8em;
			.header_slide_inner{
				flex-direction: column-reverse;

			}
			.header_slide_content{
				padding-bottom:40px;
				a{
					font-size: 13px;
				}
				.post_author{
					a{
						font-size: 16px;
					}
				}
				h2{
					font-size: 16px;
					a{
						font-size: 16px;
						p{
							font-size: 16px;
						}
					}
				}
				width: 100%;
				min-width: 100%;
				padding: 3% 5.5% 3%;
				.content_dek{
					padding: 10px 0 0;
					a{
						font-weight: 400;
					}
				}
			}
			.slider_dek{
				margin-bottom:20px!important;
			}
		}
	}

	.content_block_section{

	}

	.slick-slider{
		background-color: black;
		.slick-dots{
			left:auto;
			bottom:18px;
			right:5.5vw;
		}
	}

	/*------------------------------------------*\
		THREE POSTS WITH COLOR CONTENT (768px)
	\*------------------------------------------*/

	.content_dek{
		p{
			font-size: 14px!important;
		}
	}
	.three_posts_with_color_content{
		font-size: .9em;
	}

	.four_posts_layout .quarter_width_post{
		flex-direction: column;
		.post_image_wrapper{
			width: 100%;
			min-width: 100%;
		}
		.content_and_hed{
			padding: 12px 0 0;
			h2{
				margin-bottom:5px;
			}
		}
		&.pType_page{
			.post_thumb_hed{
				width: 100%;
				min-width: 100%;
				.post_hed_sizer{
					padding-bottom:137%;
				}
			}
		}
	}

	/*------------------------------------------*\
		THREE VARIED POSTS (768px)
	\*------------------------------------------*/

	.three_varied_posts{
		flex-direction: column;
		.varied_post{
			width: 100%!important;
			margin-bottom:4vw;
			display: flex;
			.varied_post_image{
				width: 60%;
				min-width: 60%;
			}
			.post_thumb_hed{
				padding: 5% 3% 2% 3%;
			}
			&:nth-child(2n + 2){
				flex-direction: row-reverse;
				.post_thumb_hed{
					text-align: right;
				}
			}
		}
	}

	/*------------------------------------------*\
		SINGLE POST LAYOUT (768px)
	\*------------------------------------------*/

	.single_post_layout{
		font-size: 10px;
		margin-bottom:30px;
		.content_break_image_container, .content_image_container, .image_break_content_container{
			flex-direction: column;
		}
		.post_image_wrapper{
			width: 100%!important;
			min-width: 100%!important;
		}
		.post_thumb_hed{
			margin-top:8px;
			width: 100%!important;
			background-color: transparent;
			padding:0!important;
			text-align: left!important;
			.content_dek{
				margin-top:10px!important;
				color: black;
				a p{
					color: black;
				}
			}
			h2{
				margin-top:7px;
			}
			h2, h2 a, p{
				color: black;
			}
		}
		.content_break_image_container{
			.post_thumb_hed{
				background-color: black;
				padding: 3%!important;
				h2 a, .extra_content p{
					color: white;
				}
				.content_dek{
					color: white;
					a p{
						color: white;
					}
				}
			}
		}
		.single_post_layout_image{
			.post_thumb_hed{
				p{
					color: white;
				}
			}
		}
	}

	/*------------------------------------------*\
		TWO POST LAYOUT (768px)
	\*------------------------------------------*/

	.two_posts_layout{
		flex-wrap: wrap;
		.post_thumb_hed{
			h3{
				font-size: 1em;
			}
		}
		.two_posts_layout_50_50{
			width: 100%;
			min-width: 100%;
			margin-bottom: 30px;
		}
	}

	/*------------------------------------------*\
		CATEGORY POSTS (768px)
	\*------------------------------------------*/

	.categories_layout{
		.category_post{
			width: 48.5%;
			.image_sizer{
				padding-bottom:62%;
			}
			.post_thumb_hed{
				position: relative;
				bottom:auto;
				left:auto;
				width: auto;
				background-color: black;
			}
			&:nth-child(2n + 2){
				width: 48.5%;
				.image_sizer{
					padding-bottom:62%;
				}
			}
		}
	}

	/*------------------------------------------*\
		SINGLE POST (768px)
	\*------------------------------------------*/

	.single-post{
		#trending_bar{
			padding: 0 5.5vw 0;
			margin: 0 0 20px;
			display: none;
		}
		#container > .inner_content{
			flex-direction: column;
			padding: 0 5.5vw;
		}
		#content{
			width: 100%;
			padding:0 0 0;
		}
		.pop_posts{
			display: none;
		}
		#single_header{
			#single_header_content{
				width: 100%;
				flex-direction: column;
			}
			.featured_thumbnail_container{
				width: 100%;
				.featured_image_caption{
					margin-bottom:15px;
				}
			}
			.single_header_title_container{
				width: 100%;
				padding:0;
				h1{
					font-size: 1.6em;
				}
				.content_dek{
					p{
						font-size: 16px!important;
					}
				}
			}
		}
		#single_content_container{
			flex-direction: column;
			padding-top:25px;
			#single_content{
				width: 100%;
			}
			#sidebar{
				padding-bottom:30px;
				.social_share_container{
					display: none;
				}
			}
		}
	}

	/*------------------------------------------*\
		FOOTER (768px)
	\*------------------------------------------*/

	footer#footer{
		#footer_content{
			flex-wrap:wrap;
			.footer_section{
				width: 48%;
				&:last-of-type{
					width: 100%;
				}
				&.mobile.about_us{
					display: none;
				}
			}
		}
	}
	#footer_newsletter .footer_newsletter_container .newsletter_content{
		font-size: .8em;
		padding: 0 0 0 3%;
		.newsletter_email{

		}
		.newsletter_submit{

		}
	}

	.zergrow{
		flex-wrap: wrap;
		.zergentity{
			margin: 0 0 10px 0!important;
			width: 30%!important;
		}
	}
}

@media (max-width: 600px){

	.header_content #header_right #social_icons{
		height:20px;
	}

	.home_layout_section{
		margin-top:4vw;
	}


	.three_squares_with_hed{
		flex-direction: column;
		margin-top:4vw;
		.square_post{
			width: 100%;
			flex-direction: row;
			margin-bottom:4vw;
			.square_post_hed{
				padding: 0 3vw;
			}
			.square_post_image{
				width: 40%;
				min-width: 40%;
			}
		}
	}

	.menu_overlay{
		width: 100%;
	}

	.header_slider{
		.header_slide{
			.header_slide_content{
				padding-bottom:15%;
			}
		}
	}

	/*------------------------------------------*\
		THREE POSTS WITH COLOR HED (600px)
	\*------------------------------------------*/

	.three_posts_with_color_content{
		.color_post{
			flex-direction: column-reverse!important;
			.square_post_hed{
				width: 100%;
				margin-top:0;
				padding:3% 3% 2% 3%;
			}
			.square_post_image{
				width: 100%;
				.image_sizer{
					display: none;
				}
				.post_image_container{
					position: relative;
				}
			}
		}
	}

	.three_posts_with_color{
		.placeholder_300{
			margin:0 auto;
		}
	}

	/*------------------------------------------*\
		NEWSLETTER (600px)
	\*------------------------------------------*/

	#footer_newsletter .footer_newsletter_container{
		flex-direction: column;
		.newsletter_image{
			width: 100%;
		}
		.newsletter_content{
			width: 100%;
			padding: 15px 0;
			h2{
				width: 100%;
			}
			.newsletter_dek{
				width: 100%;
			}
		}
	}

	/*------------------------------------------*\
		SINGLE (600px)
	\*------------------------------------------*/

	// PHOTO ESSAY

	.photo_essay_container{
		.photo_essay{
			flex-direction: column;
			.photo_essay_image{
				width: 100%;
				min-width: 100%;
			}
			.photo_essay_content{
				padding: 10px 0;
				width: 100%;
			}
		}
	}

	/*------------------------------------------*\
		RELATED POSTS (600px)
	\*------------------------------------------*/

	.related_posts{
		.related_posts_container{
			flex-direction: column;
			.related_post{
				width: 100%;
				display: flex;
				margin-bottom:4vw;
				.post_image_wrapper{
					width: 50%;
					min-width: 50%;
				}
				.post_thumb_hed{
					padding: 3% 2% 2% 3%;
				}
			}
		}
	}

	.error404{
		header.header{
			padding: 10vw 5vw;
			.search_404{
				width: 100%;
			}
		}
	}

	body.author{
		.author_info{
			flex-direction: column;
			.author_image_container{
				margin:15px auto;
			}
		}
	}

	.zergrow{
		.zergentity{
			width: 48%!important;
		}
	}
	.single-post #single_content .alignleft{
		width: 100%!important;
	}

}

@media (max-width: 480px){

	.presented_by a{

	}
	.home{
		.content_dek p, .content_dek a p{
			font-size: 16px!important;
			line-height:1.2em!important;
		}
	}

	.header_content #branding{
		#site-title a{
			min-width: 130px;
			img{
			}
		}
		#site-description{
			font-size: .75em;
			margin-top: 3px;
			position: absolute;
			top: 20px;
			left: 1px;
			display: none;
		}
	}
	.three_varied_posts .varied_post{
		flex-direction: column!important;
		.varied_post_image{
			width: 100%;
			min-width: 100%;
		}
		.post_thumb_hed{
			padding: 10px 0;
		}
	}

	.content_block_header .block_label{
		white-space: normal;
		text-align: center;
	}

	/*------------------------------------------*\
		TWO POSTS 30 70 (480px)
	\*------------------------------------------*/

	.two_posts_layout .two_posts_layout_30_70{
		width: 100%!important;
		&.layout_0{
			display: flex;
			margin-bottom:5vw;
			.post_image_wrapper{
				width: 60%;
				min-width: 60%;
			}
			.post_thumb_hed{
				margin: 0;
				padding: 0 0 0 3vw;
			}
		}
	}
	.two_posts_layout .two_posts_layout_70_30{
		width: 100%!important;
		&.layout_1{
			display: flex;
			margin-top:5vw;
			.post_image_wrapper{
				width: 60%;
				min-width: 60%;
			}
			.post_thumb_hed{
				margin: 0;
				padding: 0 0 0 3vw;
			}
		}
	}

	/*------------------------------------------*\
		FOUR POSTS (480px)
	\*------------------------------------------*/

	.four_posts_layout .quarter_width_post{
		width: 100%;
		flex-direction: row;
		margin-bottom:6vw;
		.post_image_wrapper{
			width: 60%;
			min-width: 60%;
		}
		.content_and_hed{
			padding: 3vw 0 0 3vw;
		}
		&:nth-child(2n + 2){
			flex-direction: row-reverse;
			.content_and_hed{
				padding: 3vw 3vw 0 0;
			}
		}
		&.pType_page{
			.post_hed_sizer{
				display: none;
			}
			.post_thumb_hed_content{
				padding: 10vw;
				text-align: center;
				position: relative;

			}
		}
	}

	/*------------------------------------------*\
		CITY LAYOUT (480px)
	\*------------------------------------------*/

	.city_layout{
		.top_row{
			flex-direction: column;
			width: 100%;
			.top_row_left_content{
				flex-direction: column;
				width: 100%;
			}
			.top_row_left{
				width: 100%;
			}
			.top_row_left_content{
				.city_image_1{
					display: none;
				}
				.city_title{
					width: 100%;
					text-align: left;
					margin-bottom: 15px;
					h1{
						font-size: 1.6em;
					}
					h2{
						font-size: 18px;
					}
					.city_excerpt{
						font-size: 1em;
						width: 100%;
						margin: 15px 0 0 0;
					}
				}
			}
			.top_row_right{
				width: 100%;
			}
		}
		.bottom_row{
			.bottom_row_content{
				width: 100%;
				flex-direction: column-reverse;
				.city_image_2{
					width: 100%;
				}
				.extra_content{
					width: 100%;
					margin-bottom:15px;
				}
			}
		}
	}

	/*------------------------------------------*\
		CATEGORY LAYOUT (480px)
	\*------------------------------------------*/

	.categories_layout{
		padding-bottom:18vw;
		.category_post .post_thumb_hed{
			padding: 10px;
		}
		.category_post{
			width: 100%;
			margin-bottom:5vw;
			.image_sizer{
			}
			&:nth-child(2n + 2){
				width: 100%;
				.image_sizer{
				}
			}
		}
	}

	/*------------------------------------------*\
		SINGLE (480px)
	\*------------------------------------------*/

	.single-post #single_content_container #sidebar{
		width: 100%;
		.related_posts{
			width: 100%;
		}
	}
	.single-post #single_content p{
		font-size: 1.2em;
		line-height:1.6em;
	}
	.single-post #single_content .alignleft{
		margin-left: 0;
		width: 100%;
		float: none;
	}

	/*------------------------------------------*\
		FOOTER (480px)
	\*------------------------------------------*/

	footer#footer{
		.white_logo{
			display: none;
		}
		#footer_content{
			flex-wrap:wrap;
			.footer_section{
				width: 100%;
				padding: 0 0 30px 0;
				&:last-of-type{
					width: 100%;
				}
				&.about_us{
					display: none;
				}
				&.mobile.about_us{
					display: block;
					.menu-footer-menu-container, .footer_section_content{
						padding:0;
					}
					.menu-footer-menu-container{
						padding: 0 30px;
					}
				}
			}
		}
	}

	#footer_newsletter .footer_newsletter_container{
		.newsletter_image{
			display: none;
		}
	}
}

@media (max-width: 400px){
	/*
.city_layout{
		.top_row{
			.top_row_left_content{
				.city_image_1{
					display: block;
					width: 100%;
				}
			}
		}
	}
*/
}
